<template>
  <div class="my-container">
    <!-- NAME -->
    <div class="row">
      <div class="column">
        <div class="food-aliment-title">{{ food.name }}</div>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="row">
      <div class="column">
        {{ food.description }}
      </div>
    </div>

    <!-- CHART -->
    <div class="row">
      <div class="column">
        <h2 class="grammage-label">
          {{ computeKcal(food) + " kcal / 100g" }}
        </h2>
        <!-- <h2>{{ food.kcal + "kcal / 100g (Backend)" }}</h2> -->
      </div>
      <div class="column">
        <div class="chart-container">
          <food-chart
            :chartData="generateChartData(food)"
            :options="generateChartOptions"
          />
        </div>
      </div>
    </div>
    <hr style="margin-bottom: 35px" />
    <!-- CARB -->
    <div class="row">
      <div class="column">
        <label class="food-glucides-label" for="carbohydrate">Glucides</label>
        {{ food.carbohydrate }}g
        <label class="food-sucres-label" for="sugar">Dont sucres</label>
        {{ food.sugar }}g
      </div>

      <!-- FAT -->
      <div class="column">
        <label class="food-lipides-label" for="fat">Lipides</label>
        {{ food.fat }}g
        <label class="food-satures-label" for="saturated">Dont saturés</label>
        {{ food.saturated }}g
      </div>

      <!-- PROT -->
      <div class="column">
        <label class="food-proteines-label" for="protein">Protéines</label>
        {{ food.protein }}g
      </div>
    </div>
  </div>
</template>

<script>
import FoodChart from "./FoodChart";
import ChartHelper from "@/util/ChartHelper";

export default {
  components: { FoodChart },
  props: {
    food: Object,
  },
  methods: {
    computeKcal(food) {
      return ChartHelper.computeKcal(food.carbohydrate, food.fat, food.protein);
    },
    generateChartData(food) {
      return ChartHelper.generateChartData(food);
    },
  },
  computed: {
    generateChartOptions() {
      return ChartHelper.generateChartOptions();
    },
  },
};
</script>

<style scoped>
.my-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 4%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 0px;
  margin-bottom: 20px;
}
.chart-container {
  width: 150px;
  height: 150px;
}
</style>