<template>
  <div data-app>
    <v-dialog v-model="show" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <h1 class="title">{{ this.computedDisplayCreateOrEdit }} aliment</h1>
        </v-card-title>

        <v-card-text>
          <div class="my-container">
            <!-- NAME -->
            <div class="row">
              <div class="column">
                <label class="food-aliment-title" for="name">Nom</label>
                <input
                  data-ruid="foodName"
                  class="textarea-case"
                  placeholder="Ajouter un nom unique."
                  v-model="name"
                  type="text"
                  id="name"
                  name="name"
                />
              </div>
            </div>

            <!-- DESCRIPTION -->
            <div class="row">
              <div class="column">
                <label class="food-aliment-title" for="description"
                  >Description</label
                >
                <textarea
                  data-ruid="foodDescription"
                  class="textarea-case"
                  placeholder="Ajouter une description optionelle."
                  v-model="description"
                  cols="80"
                  rows="5"
                  id="description"
                  name="description"
                />
              </div>
            </div>

            <!-- CHART -->
            <div class="row">
              <div class="column">
                <h2 class="grammage-label">
                  {{ computeKcal + "kcal / 100g" }}
                </h2>
              </div>
              <div class="column">
                <div class="chart-container">
                  <food-chart
                    :chartData="generateChartData"
                    :options="generateChartOptions"
                  />
                </div>
              </div>
            </div>

            <hr style="margin-bottom: 35px" />

            <!-- CARB GLUCIDE-->
            <div class="row">
              <div class="column">
                <label class="food-glucides-label" for="carbohydrate"
                  >Glucides</label
                >
                <input
                  v-model.number="carbohydrate"
                  data-ruid="foodCarb"
                  type="number"
                  step="0.1"
                  id="carbohydrate"
                  name="carbohydrate"
                />
                <label class="food-sucres-label" for="sugar">Dont sucres</label>
                <input
                  data-ruid="foodSugar"
                  v-model.number="sugar"
                  type="number"
                  step="0.1"
                  id="sugar"
                  name="sugar"
                />
              </div>

              <!-- FAT LIPIDES-->
              <div class="column">
                <label class="food-lipides-label" for="fat">Lipides</label>
                <input
                  data-ruid="foodFat"
                  v-model.number="fat"
                  type="number"
                  step="0.1"
                  id="fat"
                  name="fat"
                />
                <label class="food-satures-label" for="saturated"
                  >Dont saturés</label
                >
                <input
                  data-ruid="foodFatSat"
                  v-model.number="saturated"
                  type="number"
                  step="0.1"
                  id="saturated"
                  name="saturated"
                />
              </div>

              <!-- PROT -->
              <div class="column">
                <label class="food-proteines-label" for="protein"
                  >Protéines</label
                >
                <input
                  data-ruid="foodProt"
                  v-model.number="protein"
                  type="number"
                  step="0.1"
                  id="protein"
                  name="protein"
                />
              </div>
            </div>
          </div>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="button-general"
            v-on:click="cancelButtonClick"
            color="#e6535f"
          >
            Annuler
          </v-btn>
          <v-btn
            class="button-general"
            data-ruid="buttonFinalizeFood"
            v-on:click="addButtonClick"
            color="#5ee4cc"
          >
            {{ this.computedDisplayCreateOrEdit }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import FoodChart from "./FoodChart.vue";
import ChartHelper from "@/util/ChartHelper";
import Notifications from "@/util/Notifications";
import FoodCreationDTO from "@/gen/model/FoodCreationDTO";
import FoodModificationDTO from "@/gen/model/FoodModificationDTO";

export default {
  components: { FoodChart },
  props: {
    show: Boolean,
    food: Object,
  },
  data() {
    return {
      name: "",
      description: "",

      carbohydrate: 0.0,
      sugar: 0.0,
      fat: 0.0,
      saturated: 0.0,
      protein: 0.0,
    };
  },
  computed: {
    generateChartOptions() {
      return ChartHelper.generateChartOptions();
    },
    generateChartData() {
      return ChartHelper.generateChartData({
        carbohydrate: this.carbohydrate,
        sugar: this.sugar,
        fat: this.fat,
        saturated: this.saturated,
        protein: this.protein,
      });
    },
    computeKcal() {
      return ChartHelper.computeKcal(this.carbohydrate, this.fat, this.protein);
    },
    computedDisplayCreateOrEdit() {
      if (this.food === null) {
        return "Créer";
      } else {
        return "Modifier";
      }
    },
  },
  methods: {
    addButtonClick() {
      const valid = ChartHelper.validate(
        this.carbohydrate,
        this.sugar,
        this.fat,
        this.saturated,
        this.protein
      );

      if (this.name === "") {
        Notifications.warn("Mauvaise Valeur", "Le nom ne peut pas être vide.");
      }

      if (valid) {
        if (this.food !== null) {
          let dto = new FoodModificationDTO();
          dto.id = this.food.id;
          dto.name = this.name;
          dto.description = this.description;

          dto.carbohydrate = this.carbohydrate;
          dto.sugar = this.sugar;
          dto.fat = this.fat;
          dto.saturated = this.saturated;
          dto.protein = this.protein;

          this.$store.dispatch("actionFoodPut", dto);
        } else {
          let dto = new FoodCreationDTO();
          dto.name = this.name;
          dto.description = this.description;

          dto.carbohydrate = this.carbohydrate;
          dto.sugar = this.sugar;
          dto.fat = this.fat;
          dto.saturated = this.saturated;
          dto.protein = this.protein;

          this.$store.dispatch("actionFoodPost", dto);
        }
      }

      this.$emit("reset-edit-food");
    },
    cancelButtonClick() {
      this.$store.dispatch("actionFoodHideModal");
      this.$emit("reset-edit-food");
    },
  },
  watch: {
    food(newFood) {
      if (newFood !== null) {
        this.name = newFood.name;
        this.description = newFood.description;

        this.carbohydrate = newFood.carbohydrate;
        this.sugar = newFood.sugar;
        this.fat = newFood.fat;
        this.saturated = newFood.saturated;
        this.protein = newFood.protein;
      } else {
        this.name = "";
        this.description = "";
        this.carbohydrate = 0.0;
        this.sugar = 0.0;
        this.fat = 0.0;
        this.saturated = 0.0;
        this.protein = 0.0;
      }
    },
  },
};
</script>
this.
<style scoped>
.my-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 4%;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 0px;
  margin-bottom: 20px;
}
.chart-container {
  width: 200px;
  height: 200px;
}

.textarea-case {
  background-color: rgb(225, 251, 251);
  padding: 10px;
  margin: 10px 0px 40px 0px;
  border-radius: 10px;
  width: 100%;
}
</style>