<template>
  <div class="container">
    <div class="row valign-wrapper">
      <md-card>
        <md-card-content>
          <form v-on:submit.prevent="methodRegister">
            <div class="login-title">
              <h3 class="title">Inscription</h3>
            </div>

            <div class="form-group">
              <label class="register-label" for="username"
                >Nom d'utilisateur</label
              >
              <input
                data-ruid="inputUsername"
                v-model="username"
                type="text"
                class="form-control form-control-lg"
              />
            </div>
            <div class="form-group">
              <label class="register-label" for="email">E-mail</label>
              <input
                data-ruid="inputEmail"
                v-model="email"
                type="email"
                class="form-control form-control-lg"
              />
            </div>
            <div class="form-group">
              <label class="register-label" for="password">Mot de passe</label>
              <input
                data-ruid="inputPassword"
                v-model="password"
                type="password"
                class="form-control form-control-lg"
              />
            </div>
            <div class="form-group">
              <label class="register-label" for="firstname">Prénom</label>
              <input
                data-ruid="inputFirstname"
                v-model="firstname"
                type="text"
                class="form-control form-control-lg"
              />
            </div>
            <div class="form-group">
              <label class="register-label" for="lastname">Nom</label>
              <input
                data-ruid="inputLastname"
                v-model="lastname"
                type="text"
                class="form-control form-control-lg"
              />
            </div>
            <div class="form-group">
              <label class="register-label" for="birthdate"
                >Date de naissance</label
              >
              <input
                data-ruid="inputBirthdate"
                v-model="birthdate"
                type="date"
                class="form-control form-control-lg"
              />
            </div>
            <div class="form-group">
              <label class="register-label" for="sex">Sexe</label><br />
              <label for="sexMale">Homme</label>
              <input
                data-ruid="sexMale"
                v-model="sex"
                type="radio"
                id="sexMale"
                value="MALE"
                class="register-radio-button"
              />
              <label for="sexFemale">Femme</label>
              <input
                data-ruid="sexFemale"
                v-model="sex"
                type="radio"
                id="sexFemale"
                value="FEMALE"
                class="register-radio-button"
              />
            </div>
            <div class="register-alignment">
              <v-btn
              type="submit"
                class="button-general"
                data-ruid="inputRegister" 
                color="#5ee4cc"
              >
                Inscription
              </v-btn>
              <div style="margin:20px;">
                Vous êtes déjà inscrit ?
                <router-link :to="{ name: 'login' }" style="color: #6ce7d1"
                  >connexion</router-link
                >
              </div>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
import RegisterDTO from "@/gen/model/RegisterDTO";
import States from "@/state/States";

export default {
  data() {
    return {
      username: undefined,
      email: undefined,
      password: undefined,
      firstname: undefined,
      lastname: undefined,
      birthdate: undefined,
      sex: undefined,
    };
  },
  methods: {
    methodRegister() {
      /*eslint: no-unused-vars: "off"*/

      let registerDTO = new RegisterDTO();
      registerDTO.username = this.username;
      registerDTO.email = this.email;
      registerDTO.password = this.password;
      registerDTO.firstname = this.firstname;
      registerDTO.lastname = this.lastname;
      registerDTO.birthdate = this.birthdate;
      registerDTO.sex = this.sex;

      this.$store.dispatch("actionRegister", registerDTO);
    },
    methodShowError() {
      const registerState = this.$store.getters.getRegister;
      if (registerState.state === States.ERROR) {
        return registerState.message;
      } else {
        return "";
      }
    },
  },
};
</script>

<style>
.container .row {
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.login-title {
  text-align: center;
}

.register-alignment {
  text-align: center;
}

.register-label {
  color: #9c9c9c;
  font-family: "Fjalla One";
  font-size: 18px;
}

.register-radio-button {
  margin: 5px 25px 5px 5px;
}
</style>