.general-landing {
  /*background-color: #fafaf5;*/
  background-color:white;
  height: 100%;
}

.header-landing {
  text-align: center;
  padding: 35px 0px;
}

.header-landing > img {
  display:inline-block;
  @media only screen and(max-width:449px) {
    max-width:350px;
  }
}

.header-title-landing {
  font-family: "Fjalla One";
  color: #5ee4cc;
  font-size: 35pt;
  line-height: 45pt;
}

.header-text-landing {
  text-align: justify;
  display: inline-block;
  max-width: 400px;
  font-family: "Helvetica";
}

.body-landing {
  text-align: center;
  margin: 100px 0px;
  padding: 50px 0px;
  background-color: #fff4e1;
}

.body-title-landing {
  font-family: "Fjalla One";
  color: #e6c16b;
  font-size: 35pt;
  line-height: 40pt;
  margin: 20px 0px;
}

.body-subtitle-landing {
  font-family: "Fjalla One";
  color: #b49241;
  font-size: 20pt;
  margin: 20px 0px;
}

.body-text-landing {
  text-align: justify;
  font-family: "Helvetica";
}

.body-component-landing {
  display: inline-block;
  max-width: 350px;
  margin: 0px 20px;
}

.body-inside-component-landing {
  display: block;
}

.body-inside-component-landing > img {
  max-width: 230px;
  max-height: 150px;
}

.button-landing-subscribe {
  border-radius: 30px;
  color: #fff !important;
  background-color: #5ee4cc;
  width: 200px;
  margin: 20px;
}

.button-landing-subscribe:hover {
  background-color: #cefff6;
}

.footer-landing {
  text-align: center;
  padding: 35px 0px;
}

.footer-landing > img {
  border-radius: 10px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.283));
}

.footer-title-landing {
  font-family: "Fjalla One";
  color: #5ee4cc;
  font-size: 28pt;
  line-height: 45pt;
}

.footer-text-landing {
  text-align: justify;
  display: inline-block;
  max-width: 400px;
  font-family: "Helvetica";
  margin:0px 30px;
}

.footer-subtext-landing {
  font-size: 12pt;
  font-style: italic;
  line-height:20pt;
}