* {
    box-sizing: border-box;
  }

  body {
    background: #ffffff !important;
  }

  .button-general {
    color:white !important;
    border-radius: 31px !important;
    display: inline-block;
    margin: 0px 10px;
  }

  .food-aliment-title {
    font-family: 'Fjalla One';
    color:#6ce7d1;
    font-size: 25px;
    margin-bottom:10px;
  }

  .food-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 4%;
  }

  .food-label {
    font-family: "Fjalla One";
    font-size: 19px;
    color: #666;
    margin-top: 5px;
  }

  .food-glucides-label {
    font-family: "Fjalla One";
    font-size: 19px;
    color: #e6535f;
    margin-top: 5px;
  }

  .food-sucres-label {
      font-family: "Fjalla One";
    font-size: 19px;
    color: #fdb6bc;
    margin-top: 5px;
  }

  .food-lipides-label {
    font-family: "Fjalla One";
    font-size: 19px;
    color: #31b173;
    margin-top: 5px;
  }

  .food-satures-label {
      font-family: "Fjalla One";
    font-size: 19px;
    color: #8af0be;
    margin-top: 5px;
  }

  .food-proteines-label {
    font-family: "Fjalla One";
    font-size: 19px;
    color: #6a52e6;
    margin-top: 5px;
  }

  .grammage-label {
    font-size: 28px;
    color: #8b8b8b;
  }

  .main-card {
    margin: 40px 30px 30px 30px;
    padding: 20px 20px 20px 20px;
  }

  .navbar-brand, .navbar-brand:hover, .navbar-brand:visited, .navbar-brand:active { /* Titre navbar */
    font-family: 'Medula One' !important;
    font-style: bold;
    font-size: 50px !important;
    float : left;
    color : #ffffff !important;
    text-decoration: none;
  }

  .navbar-stripe {
    background-color:#5ee4cc !important;
  }

  .title {
    color: #6ce7d1;
    font-size: 30px;
    font-family: "Fjalla One";
    text-shadow: 0px 2px 0px #41a794;
  }

  .subtitle {
    color: #f3c88f;
    font-size: 23px;
    font-family: "Fjalla One";
    text-shadow: 0px 2px 0px #ac7937;
  }

