<template>
  <v-card class="main-card">
    <div class="categories-title inline-block">
      <router-link class="title-root" :to="/categories/ + ''">CATÉGORIE</router-link>
      <div class="title">>> {{ $route.params.name }}</div>
    </div>

    <div class="categories-alignment">
      <router-link :to="'/createRecipe'">
        <button class="add-category">
          <v-card class="card-style-add">
            <div class="box">
              <div class="add-card-plus">+</div>
              <div class="add-card-text">Ajouter une recette</div>
            </div>
          </v-card>
        </button>
      </router-link>

      <div
        class="categories-alignment"
        v-for="recipe in computedRecipes"
        :key="recipe.id"
      >
        <router-link :to="'/recipe/' + recipe.name">
          <button class="category-added">
            <v-card class="card-style">
              <v-card-title class="card-title">
                {{ recipe.name }}
              </v-card-title>
            </v-card>
          </button>
        </router-link>
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  computed: {
    computedRecipes() {
      return this.$store.getters.getRecipes.data;
    },
  },
  mounted() {
    this.$store.dispatch("actionGetCategory", this.$route.params.name);
    this.$store.dispatch("actionGetRecipesOfCategory", this.$route.params.name);
  },
  data() {
    return {
      categories: [],
      currentOldName: "",
    };
  },

  methods: {
    addCategoryName(name) {
      this.categories.push({ categoryName: name });
    },
    deleteCategory(index) {
      if (confirm("Voulez-vous vraiment supprimer cette catégorie ?")) {
        this.categories.splice(index, 1);
      }
    },
    renameCategory(param) {
      for (let i = 0; i < this.categories.length; i++) {
        const e = this.categories[i];
        if (e.categoryName === param.oldName) {
          e.categoryName = param.newName;
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.add-category {
  margin: 10px 5px 10px 17px;
}

.add-category:active {
  background-color: #ccf3ed;
}

.card-title {
  font-family: "Fjalla One";
  font-size: 25px;
}

.card-style-add {
  color: white;
  background-color: #b7f1e7;
  border: 0px solid #b5b5b5;
  font-family: "Fjalla One";
  width: 200px;
  height: 200px;
}

.card-style-add:active {
  background-color: #ccf3ed;
}

.card-style {
  color: #fff;
  background-color: #fecca1;
  width: 200px;
  height: 200px;
}

.add-card-plus {
  font-size: 60px;
  padding: 0.2em;
}
.add-card-text {
  font-size: 30px;
  line-height: 1.4em;
  text-transform: uppercase;
}

.card-added {
  font-size: 30px;
  line-height: 1em;
}

.categories-actions {
  cursor: pointer;
  float: left;
  margin: 0px 0px 0px 25px;
}

.category-added {
  margin: 0px 0px 0px 0px;
}

.categories-alignment {
  display: inline-block;
}

.categories-title {
  margin: 30px 0px;
}

.all-categories {
  margin: 8px 15px 0px 20px;
}

span:hover {
  color: white;
}

.title-root {
  line-height: 2;
  color: rgb(128, 128, 128) !important;
  font-size: 35px;
  text-shadow: 1px 2px rgb(61, 61, 61);
}
</style>
