<template>
  <v-card class="main-card">
    <div class="categories-title">
      <div class="title">MES CATÉGORIES</div>
    </div>

    <!-- Add category -->
    <div class="categories-alignment">
      <button class="add-category" @click="showModalCreate">
        <v-card class="card-style-add">
          <div class="box">
            <div class="add-card-plus">+</div>
            <div class="add-card-text">Ajouter une catégorie</div>
          </div>
        </v-card>
      </button>

      <!-- Modal create -->
      <modalCreate
        v-show="isModalCreateVisible"
        @close="closeModal"
        @addCategoryName="addCategoryName"
        style="width:300px !important"
      />
      <!-- Modal modify -->
      <modalModify
        v-show="isModalModifyVisible"
        @close="closeModal"
        @renameCategory="renameCategory"
        :oldName="this.currentOldName"
        :id="this.currentId"
      />

      <!-- All categories : à part car pas de boutons d'action -->
      <div class="categories-alignment">
      <router-link class="nav-link pr-3" to="/recipes">
        <button class="category-added">
          <v-card class="card-style">
            <v-card-title class="card-title">
              Toutes les recettes
            </v-card-title>
          </v-card>
        </button>
      </router-link>
      </div>
      <!-- for loop with all categories -->
      <div
        class="categories-alignment"
        v-for="(category, index) in computedCategories"
        :key="category.index"
      >
        <router-link class="nav-link pr-3" :to="'/category/' + category.name">
          <button class="category-added">
            <v-card class="card-style">
                <v-card-title class="card-title">
                  {{ category.name }}
                </v-card-title>
            </v-card>
          </button>
        </router-link>
        <button
          class="categories-actions"
          @click="showModalModify(category.name, category.id)"
        >
          <img src="@/assets/images/adjust.png" />
        </button>
        <button class="categories-actions" @click="deleteCategory(index)">
          <img src="@/assets/images/trash.png" />
        </button>
      </div>
    </div>
    <!-- end for loop -->
  </v-card>
</template>

<script>
import ModalCreate from "@/components/ModalCreate.vue";
import ModalModify from "@/components/ModalModify.vue";

export default {
  components: {
    ModalCreate,
    ModalModify,
  },
  props: {
    msg: String,
  },
  data() {
    return {
      isModalCreateVisible: false,
      isModalModifyVisible: false,
      categories: [
        {
          categoryName: "Toutes les recettes",
        },
      ],
      currentOldName: "",
      currentId: undefined,
    };
  },
  mounted() {
    this.$store.dispatch("actionGetCategories");
  },
  computed: {
    computedCategories() {
      return this.$store.getters.getCategories.data;
    },
  },

  methods: {
    showModalCreate() {
      this.isModalCreateVisible = true;
    },
    showModalModify(name, id) {
      this.currentOldName = name;
      this.currentId = id;
      this.isModalModifyVisible = true;
    },
    closeModal() {
      this.isModalModifyVisible = false;
      this.isModalCreateVisible = false;
    },
    addCategoryName(name) {
      this.$store.dispatch("actionPostCategory", name);
    },
    deleteCategory(index) {
      if (confirm("Voulez-vous vraiment supprimer cette catégorie ?")) {
        this.categories.splice(index, 1);
      }
    },
    renameCategory(param) {
      this.$store.dispatch("actionPutCategory", param);
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.add-category {
  margin: 10px 5px 10px 17px;
}

.add-category:active {
  background-color: #ccf3ed;
}

.card-title {
  font-family: "Fjalla One";
  font-size: 25px;
}

.card-style-add {
  color: white;
  background-color: #b7f1e7;
  border: 0px solid #b5b5b5;
  font-family: "Fjalla One";
  width: 200px;
  height: 200px;
}

.card-style-add:active {
  background-color: #ccf3ed;
}

.card-style {
  color: #fff;
  background-color: #f7d4a7;
  width: 200px;
  height: 200px;
}

.add-card-plus {
  font-size: 60px;
  padding: 0.2em;
}
.add-card-text {
  font-size: 30px;
  line-height: 1.4em;
  text-transform: uppercase;
}

.card-added {
  font-size: 30px;
  line-height: 1em;
}

.categories-actions {
  cursor: pointer;
  float: left;
  margin: 0px 0px 0px 25px;
}

.category-added {
  margin: 0px 0px 0px 0px;
}

.categories-alignment {
  display: inline-block;
}

.categories-title {
  text-align: center !important;
  margin: 30px 0px;
}

.all-categories {
  margin: 8px 15px 0px 20px;
}

span:hover {
  color: white;
}
</style>
