<template>
  <div class="container">
    <div class="row valign-wrapper">
      <md-card>
        <md-card-content>
          <form v-on:submit.prevent="methodCreateRecipe">
            <div class="login-title">
              <h3 class="title">Nouvelle recette</h3>
            </div>

            <div class="form-group">
              <label class="register-label" for="name">Nom</label>
              <input
                id="name"
                v-model="name"
                type="text"
                class="form-control form-control-lg"
              />
            </div>

            <div>
              <label class="register-label" for="categories">Catégorie</label
              ><br />
              <select
                name="categories"
                id="categories"
                v-model="categoryRecipe.name"
              >
                <option
                  v-for="(category, index) in computedCategories"
                  v-bind:key=index
                  :value="category.name"
                >
                  {{ category.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <v-btn
                class="button-general"
                v-on:click="addInstruction"
                color="#5ee4cc"
              >
                + instruction
              </v-btn>

              <div>
                <div
                  class="foodInput"
                  v-for="(instruction, index) in instructions"
                  v-bind:key=index
                >
                  <v-text-field
                    v-model="instruction.position"
                    :value="index + 1"
                    label="Position"
                    type="number"
                    required
                    style="max-width: 80px; margin-right: 20px"
                  ></v-text-field>
                  <v-text-field
                    v-model="instruction.instruction"
                    :counter="20"
                    label="Instruction"
                    required
                  ></v-text-field>
                  <v-btn
                    class="button-general"
                    v-on:click="removeInstruction(index)"
                    color="#e6535f"
                  >
                    -
                  </v-btn>
                </div>
              </div>
            </div>

            <div class="form-group">
              <v-btn
                class="button-general"
                v-on:click="addFood"
                color="#5ee4cc"
              >
                + ingrédient
              </v-btn>
              <div>
                <div class="foodInput" v-for="(food, index) in foods" v-bind:key=index>
                  <v-text-field
                    v-model="food.food"
                    :counter="20"
                    label="Nom"
                    required
                  ></v-text-field>
                  <v-text-field
                    id="quantity"
                    v-model="food.quantity"
                    label="Quantité"
                    type="number"
                    required
                    style="
                      max-width: 80px;
                      margin-right: 20px;
                      margin-left: 20px;
                    "
                  ></v-text-field>
                  <div>
                    <label class="register-label" for="unit">Unité</label><br />
                    <select name="unit" id="unit" v-model="food.unit">
                      <option v-for="(unit, index) in foodMeasures" :value="unit" v-bind:key=index>
                        {{ unit }}
                      </option>
                    </select>
                  </div>

                  <v-btn
                    class="button-general"
                    v-on:click="removeFood(index)"
                    color="#e6535f"
                  >
                    -
                  </v-btn>
                </div>
              </div>
            </div>

            <div class="register-alignment">
              <v-btn
                class="button-general"
                type="submit"
                color="#5ee4cc"
              >
                Validate
              </v-btn>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
import RecipeCreationDTO from "@/gen/model/RecipeCreationDTO";

export default {
  mounted() {
    this.$store.dispatch("actionGetCategories");
  },
  computed: {
    computedCategories() {
      return this.$store.getters.getCategories.data;
    },
  },
  data() {
    return {
      name: undefined,
      categoryRecipe: {
        name: undefined,
      },
      instructions: [
        {
          position: undefined,
          instruction: undefined,
        },
      ],
      foods: [
        {
          food: undefined,
          quantity: undefined,
          unit: undefined,
        },
      ],
      categories: [],
      foodMeasures: [
        "",
        "L",
        "Kg",
        "g",
        "tea spoon(s)",
        "table spoon(s)",
        "pinch",
      ],
    };
  },
  methods: {
    addFood() {
      this.foods.push({
        food: undefined,
        quantity: undefined,
        unit: undefined,
      });
    },
    removeFood(index) {
      this.foods.splice(index, 1);
    },
    addInstruction() {
      this.instructions.push({ instruction: undefined, position: undefined });
    },
    removeInstruction(index) {
      this.instructions.splice(index, 1);
    },
    methodCreateRecipe() {
      let recipeDTO = new RecipeCreationDTO();
      recipeDTO.name = this.name;
      recipeDTO.instructions = this.instructions;
      recipeDTO.foods = this.foods;
      recipeDTO.category = this.categoryRecipe;

      this.$store.dispatch("actionPostRecipe", recipeDTO);
    },
  },
};
</script>

<style>
.container .row {
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.login-title {
  text-align: center;
}

.register-alignment {
  text-align: center;
}

.register-label {
  color: #9c9c9c;
  font-family: "Fjalla One";
  font-size: 18px;
}

select {
  border-bottom: solid #d2d2d2 1px;
  margin: 0px 4px 16px 4px;
  padding: 4px 8px 4px 8px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
}

#categories {
  width: 100%;
}

.foodInput {
  display: flex;
  justify-content: space-between;
}

.foodInput > v-text-field {
  margin: 0px 4px 4px 0px;
}
</style>
