<template>
  <v-card class="main-card">
    <div class="categories-title">
      <div class="title" align="center">ALL RECIPES</div>
    </div>

    <!-- Add category -->
    <router-link :to="'/createRecipe'">
      <button class="add-category">
        <v-card class="card-style-add">
          <div class="box">
            <div class="add-card-plus">+</div>
            <div class="add-card-text">Ajouter une recette</div>
          </div>
        </v-card>
      </button>
    </router-link>

    <!-- for loop with all recipes -->
    <div
      class="categories-alignment"
      v-for="recipe in computedRecipes"
      :key="recipe.id">
      <router-link class="nav-link pr-3" :to="'/recipe/' + recipe.name">
        <button class="category-added">
          <v-card>
            <v-img class="card-style">
              <v-card-title class="card-title">
                {{ recipe.name }}
              </v-card-title>
            </v-img>
          </v-card>
        </button>
      </router-link>
    </div>
    <!-- end for loop -->
  </v-card>
</template>

<script>
export default {
  props: {
    msg: String,
  },
  data() {
    return {
      isModalCreateVisible: false,
      isModalModifyVisible: false,
      recipes: [
        {
          recipeName: "Toutes les recettes",
        },
      ],
      currentOldName: "",
      currentId: undefined,
    };
  },
  mounted() {
    this.$store.dispatch("actionGetRecipes");
  },
  computed: {
    computedRecipes() {
      return this.$store.getters.getRecipes.data;
    },
  },

  methods: {
    deleteRecipe(index) {
      if (confirm("Voulez-vous vraiment supprimer cette recette ?")) {
        this.recipes.splice(index, 1);
      }
    },
    renameRecipe(param) {
      this.$store.dispatch("actionPutRecipe", param);
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.add-category {
  margin: 10px 10px 10px 20px;
}

.add-category:active {
  background-color: #ccf3ed;
}

.card-title {
  font-family: "Fjalla One";
  font-size: 25px;
}

.card-style-add {
  color: white;
  background-color: #b7f1e7;
  border: 0px solid #b5b5b5;
  font-family: "Fjalla One";
  width: 200px;
  height: 200px;
}

.card-style-add:active {
  background-color: #ccf3ed;
}

.card-style {
  color: #fff;
  background-color: #fecca1;
  width: 200px;
  height: 200px;
}

.add-card-plus {
  font-size: 60px;
  padding: 0.2em;
}
.add-card-text {
  font-size: 30px;
  line-height: 1.4em;
  text-transform: uppercase;
}

.alignMyBlock {
  display: inline-block;
}

.card-added {
  font-size: 30px;
  line-height: 1em;
}

.categories-actions {
  cursor: pointer;
  float: left;
  margin: 0px 0px 0px 25px;
}

.category-added {
  margin: 0px 0px 0px 0px;
}

.categories-alignment {
  display: inline-block;
}

.categories-title {
  text-align: center !important;
  margin: 30px 0px;
}

.all-categories {
  margin: 8px 15px 0px 20px;
}

.md-content {
  width: 200px;
  height: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: "Fjalla One";
}

.previous {
  border: 1.5px solid;
  padding: 5px;
  margin-bottom: 10px;
}

span:hover {
  color: white;
}
</style>
