<template>
  <v-card class="main-card">
    <!-- Show the Recipe-->
    <div class="categories-title">
      <div class="title" align="center">
        {{ computedRecipe.name }}
      </div>
    </div>

    <div style="margin: 15px !important">
      <div style="display: inline-flex">
        <v-btn class="button-general" v-on:click="modifyRecipe" color="#5ee4cc">
          <span v-if="!isModifying"> Modifier la recette </span>
          <span v-else>Valider</span>
        </v-btn>

        <div style="height: 60px !important">
          <v-btn
            class="button-general"
            v-if="isModifying"
            v-on:click="stopModification"
            color="#e6535f"
          >
            Annuler
          </v-btn>
        </div>
      </div>
    </div>

    <div v-if="isModifying">
      <div class="form-group">
        <label class="register-label" for="name">Nom</label>
        <input
          id="name"
          v-model="newName"
          type="text"
          class="form-control form-control-lg"
        />
      </div>

      <div>
        <label class="register-label" for="categories">Catégorie</label><br />
        <select
          name="categories"
          id="categories"
          v-model="computedRecipe.category"
        >
          <option
            v-for="category in computedCategories"
            :key="category.id"
            :value="category"
          >
            {{ category.name }}
          </option>
        </select>
      </div>
    </div>

    <div>
      <!--<img align="left" class="img" :src="imageExample" />-->
      <div align="left">
        <!-- Ingredients -->
        <h2 class="heading">Ingrédients</h2>
        <md-table v-model="computedRecipe.foods">
          <md-table-row slot="md-table-row" slot-scope="{ item }">
            <md-table-cell class="ingredient-element" md-label="ingrédient">{{
              item.food.name
            }}</md-table-cell>
            <md-table-cell class="quantity" md-label="quantité">{{
              item.quantity
            }}</md-table-cell>
            <md-table-cell class="quantity" md-label="unité">{{
              item.unit
            }}</md-table-cell>
          </md-table-row>
        </md-table>

        <!-- Instructions -->
        <h2 class="heading">Instructions</h2>
        <md-table v-model="computedRecipe.instructions" md-sort="id">
          <md-table-row slot="md-table-row" slot-scope="{ item }">
            <md-table-cell class="steps-element" md-label="étapes" md-numeric>{{
              item.position
            }}</md-table-cell>
            <md-table-cell class="steps-element"
              ><p align="justify">{{ item.instruction }}</p></md-table-cell
            >
          </md-table-row>
        </md-table>
      </div>
    </div>
  </v-card>
</template>
<script>
export default {
  mounted() {
    this.$store.dispatch("actionGetRecipe", this.$route.params.name);
  },
  data() {
    return {
      newName: this.$route.params.name,
      isModifying: false,
      foodMeasures: [
        "",
        "L",
        "Kg",
        "g",
        "cui. à café",
        "cui. à soupe",
        "pincée",
      ],
      newFoods: [],
      newInstructions: [],
    };
  },
  computed: {
    computedRecipe() {
      return this.$store.getters.getRecipe.data;
    },
    computedCategories() {
      return this.$store.getters.getCategories.data;
    },
  },
  methods: {
    modifyRecipe() {
      if (this.isModifying) {
        this.isModifying = false;
        let recipeDTO = this.$store.getters.getRecipe.data;
        recipeDTO.name = this.newName;
        this.$store.dispatch("actionPutRecipe", {
          name: this.$store.getters.getRecipe.data.name,
          recipeDTO: recipeDTO,
        });
      } else {
        this.isModifying = true;
        this.$store.dispatch("actionGetCategories");
      }
    },
    stopModification() {
      this.isModifying = false;
      this.$store.dispatch("actionGetRecipe", this.$route.params.name);
    },
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.quantity {
  color: gray;
}
.ingredient-element {
  color: rgb(46, 46, 46);
}
.steps-element {
  text-align: right;
  color: rgb(46, 46, 46);
}

.heading {
  font-size: 25px;
  font-family: "Fjalla One";
  margin: 0px 0px 0px 10px;
  color: #5ee4cc;
}

.md-table .md-table-cell {
  text-align: left;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

select {
  border-bottom: solid #d2d2d2 1px;
  margin: 0px 4px 16px 4px;
  padding: 4px 8px 4px 8px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
}
</style>
