<template>
  <v-card class="main-card">
    <div align="center">
      <h1 class="team-title">TEAM NUTRICARE</h1>
    </div>
    <v-container>
      <v-row>
        <div align="center">
          <v-col cols="16" sm="8">
            <p align="justify">
              Développé lors de notre cursus à la HEIG-VD, Nutricare a pour objectif d'aider les gens à prendre des décisions
              conscientes en faveur d'un mode de vie sain et équilibré. Le monde
              de la santé évolue et le bien-être est considéré dans un sens plus
              large que la seule gestion du poids. L'analyse des nombreuses
              données comportementales des utilisateurs nous aide à concevoir un
              plan de santé personnalisé tenant compte de la morphologie, des
              niveaux nutritionnels, des habitudes d'exercice, des préférences
              alimentaires et des objectifs généraux.
            </p>
          </v-col>
        </div>
        <v-col cols="16" sm="6">
          <!-- ALEX -->
          <div class="team-card">
            <img
              src="@/assets/images/Team/alex.jpg"
              alt="Alex"
              style="width: 100%"
            />
            <h1 class="food-aliment-title">Alexandre Simik</h1>
            <a
              href="https://www.linkedin.com/in/alexandre-simik-a18a2220b/"
              target="_blank"
            >
              <v-chip class="chip-link" color="#38c7ad">Linkedin</v-chip>
            </a>
            <a href="mailto:alexandre.simik@heig-vd.ch">
              <v-chip class="chip-link" color="#38c7ad">Contact</v-chip>
            </a>
          </div>
        </v-col>

        <v-col cols="16" sm="6">
          <!-- ELODIE -->
          <div class="team-card">
            <img
              src="@/assets/images/Team/elodie.jpg"
              alt="Elodie"
              style="width: 100%"
            />
            <h1 class="food-aliment-title">Elodie Lagier</h1>
            <a
              href="https://www.linkedin.com/in/elodie-lagier-029047168/"
              target="_blank"
            >
              <v-chip class="chip-link" color="#38c7ad">Linkedin</v-chip>
            </a>
            <a href="mailto:elodie.darine.lagier@gmail.com">
              <v-chip class="chip-link" color="#38c7ad">Contact</v-chip>
            </a>
          </div>
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <v-col cols="16" sm="6">
          <!-- CLARISSE -->
          <div class="team-card">
            <img
              src="@/assets/images/Team/clarisse.jpg"
              alt="Clarisse"
              style="width: 100%"
            />
            <h1 class="food-aliment-title">Clarisse Fleurimont</h1>
            <a
              href="https://www.linkedin.com/in/clarisse-fleurimont-2a05481a3/"
              target="_blank"
            >
              <v-chip class="chip-link" color="#38c7ad">Linkedin</v-chip>
            </a>
            <a href="mailto:clarisse.fleurimont@heig-vd.ch">
              <v-chip class="chip-link" color="#38c7ad">Contact</v-chip>
            </a>
          </div>
        </v-col>

        <v-col cols="16" sm="6">
          <!-- CLAUDE-ANDRE -->
          <div class="team-card">
            <img
              src="@/assets/images/Team/claude.jpg"
              alt="Claude"
              style="width: 100%"
            />
            <h1 class="food-aliment-title">Claude-André Alvès</h1>
            <a
              href="https://www.linkedin.com/in/claude-andr%C3%A9-alves-3b7164210/"
              target="_blank"
            >
              <v-chip class="chip-link" color="#38c7ad">Linkedin</v-chip>
            </a>
            <a href="mailto:claude-andre.inacioalves@heig-vd.ch">
              <v-chip class="chip-link" color="#38c7ad">Contact</v-chip>
            </a>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      show: false,
    };
  },
  methods: {
    displayIcon() {
      if (!this.show) {
        document.getElementById("icon").src = "@/assets/images/icons/up.png";
      } else {
        document.getElementById("icon").src = "@/assets/images/icons/down.png";
      }
    },

    showOrHide() {
      this.show = !this.show;
    },
  },
};
</script>

<style lang="scss" scoped>
.chip-link,
a {
  color: white;
  font-family: "Fjalla One";
  letter-spacing: 1px;
  margin: 2px;
}

i {
  color: rgb(21, 197, 168);
  margin-right: 10px;
  margin-left: 10px;
}

.team-alignment {
  display: flex;
  margin: 20px;
}

.team-title {
  color: #6ce7d1;
  font-size: 35px;
  font-family: "Fjalla One";
  text-shadow: 2px 1px #35b4a3;
}

.team-subtitle {
  color: grey;
  font-size: 18px;
}

.team-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}
</style>