<template>
  <div class="container">
    <div class="row valign-wrapper">
      <md-card>
        <md-card-content>
          <form v-on:submit.prevent="methodHousekeeping">
            <h3 class="title">Administration pannel (Non implémenté)</h3>

            <div class="form-group">
              <label for="username">Selectionner un utilisateur</label>
              <md-field>
              <md-select v-model="movie" name="movie" id="movie" style="background-color: rgb(235, 235, 235);"> <!--TODO change -> récupérer via getUsers -->
                <md-option class="decalage-gauche" value="alexandre">Alexandre</md-option>
                <md-option class="decalage-gauche" value="clarisse">Clarisse</md-option>
                <md-option class="decalage-gauche" value="claude-andre">Claude-André</md-option>
                <md-option class="decalage-gauche" value="elodie">Elodie</md-option>
              </md-select>
              </md-field>
            </div>

            <!-- TODO affecter valeurs de la personne sélectionnée automatiquement -->
            <div class="form-group">
              <label for="username">Username</label>
              <input v-model="email" type="email" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input v-model="password" type="password" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
              <label for="firstname">Firstname</label>
              <input v-model="firstname" type="text" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
              <label for="lastname">Lastname</label>
              <input v-model="lastname" type="text" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
              <label for="birthdate">Birthdate</label>
              <input v-model="birthdate" type="date" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
              <label for="role">Role</label>
              <md-field>
              <md-select v-model="role" name="role" id="role" style="background-color: rgb(235, 235, 235);">
                  <md-option class="decalage-gauche" value="user">User</md-option>
                  <md-option class="decalage-gauche" value="moderator">Moderator</md-option>
                  <md-option class="decalage-gauche" value="administrator">Administrator</md-option>
              </md-select>  
              </md-field>
            </div>

            <p class="modify-button">{{ methodShowError() }}</p>
            <button class="button-add">
              Modifier
            </button>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<style>

.container .row {
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.decalage-gauche {
  padding: 10px 0px 0px 15px;
}

</style>

<script>
import RegisterDTO from "@/gen/model/RegisterDTO";
import States from '@/state/States'

export default {
  data() {
    return {
      movie :"",
      username: undefined,
      email: undefined,
      password: undefined,
      firstname: undefined,
      lastname: undefined,
      birthdate: undefined,
      role: undefined,
      error: null
    };
  },
  methods: {
    methodHousekeeping() {
      /*eslint: no-unused-vars: "off"*/
      /*
      let registerDTO = new RegisterDTO();
      registerDTO.username = this.username;
      registerDTO.email = this.email;
      registerDTO.password = this.password;
      registerDTO.firstname = this.firstname;
      registerDTO.lastname = this.lastname;
      registerDTO.birthdate = this.birthdate;

      this.$store.dispatch("actionRegister", registerDTO);
      */
    },
    methodShowError() {
      const registerState = this.$store.getters.getRegister;
      if (registerState.state === States.ERROR) {
        return registerState.message;
      } else {
        return "";
      }
    }
  }
};
</script>
