<template>
  <div class="food-list-container">
    <h1 class="title" style="text-align: center">Garde-Manger</h1>
    <div class="food-alignment-search">
      <input
        v-model="search"
        type="text"
        id="searchFood"
        name="searchFood"
        placeholder="Rechercher un aliment ..."
        class="form-control form-control-lg"
        style="border: 1px solid #bbb; border-radius: 30px; padding-left: 15px"
        @input="methodSearch"
      />
      <div style="height: 50px; margin-top: 5px" align="center">
        <v-btn
          class="button-general"
          data-ruid="buttonAddFood"
          v-on:click="buttonAddFood"
          color="#5ee4cc"
        >
          Créer aliment
        </v-btn>
      </div>
    </div>
    <i align="center">Cliquez sur l'aliment pour le modifier.</i>
    <div class="food-element card" v-for="food in foods" :key="food.id">
      <div @click="methodEditFood(food)">
        <food-element :food="food" />
      </div>
    </div>
    <div
      v-if="this.foods.length === 0 && this.search.length === 0"
      class="center-column"
    >
      <h2>Rechercher</h2>
      <h4>Tapez quelque-chose pour voir ce qu'il y a dans le frigo.</h4>
    </div>
    <div v-else-if="this.foods.length === 0" class="center-column">
      <h2>Aucun aliment...</h2>
      <h4>Il est temps de remplir le frigo.</h4>
    </div>
    <food-modal
      :show="isModalVisible"
      :food="editFood"
      @reset-edit-food="methodResetEditFood"
    />
  </div>
</template>

<script>
import FoodModal from "../components/food/FoodModal.vue";
import FoodElement from "../components/food/FoodElement.vue";

export default {
  components: { FoodModal, FoodElement },
  mounted() {
    // This is used only for dev purposes to find all elements in the fridge ;)
    this.$store.dispatch("actionFoodGet");
  },
  data() {
    return {
      search: "",
      editFood: null,
    };
  },
  methods: {
    methodSearch() {
      // console.log("Search input: '" + this.search + "'.");
      if (this.search.length >= 2) {
        this.$store.dispatch("actionFoodGet", this.search);
      }
    },
    buttonAddFood() {
      this.$store.dispatch("actionFoodShowModal");
    },
    methodEditFood(food) {
      this.editFood = { ...food };
      this.$store.dispatch("actionFoodShowModal");
    },
    methodResetEditFood() {
      // console.log("Reset edit food.");
      this.editFood = null;
    },
  },
  computed: {
    foods() {
      return this.$store.getters.getFood.data;
    },
    isModalVisible() {
      return this.$store.getters.getFoodModal.modalIsVisible;
    },
  },
};
</script>

<style scoped>
.food-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.card {
  padding: 8px 16px;
  box-shadow: 0 4px 8px 0 #00000033;
  transition: 0.3s;
  margin: 10px 4px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #00000033;
}

.food-alignment-search {
  margin: 20px 0px 20px 20px;
  display: inline-block;
  flex-direction: row;
}

.center-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
</style>