<template>
  <div class="vertical">
    <div class="content">
      <div class="md-layout">
        <div class="alignMyBlock">
          <div class="title">MES AMIS</div>
          <div class="categories-block">
            <div class="categories-create">
              <button class="add-category" @click="showModalCreate">
                <!-- FIX dis -->
                <md-content style="color: white">
                  <div class="box">
                    <div class="add-card-plus">+</div>
                    <div class="add-card-text">Ajouter un ami</div>
                  </div>
                </md-content>
              </button>

              <modalCreate
                v-show="isModalCreateVisible"
                @close="closeModal"
                @addCategoryName="addCategoryName"
              />

              <modalModify
                v-show="isModalModifyVisible"
                @close="closeModal"
                @renameCategory="renameCategory"
                :oldName="this.currentOldName"
              />
            </div>
            <div
              class="categories-create"
              v-for="(category, index) in computedCategories"
              :key="category.index"
            >
              <button class="category-added">
                <md-content style="color: #919191" class="card-added">
                  {{ category.categoryName }}
                </md-content></button
              ><br />
              <div class="cat" @click="showModalModify(category.categoryName)">
                <img src="@/assets/images/adjust.png" />
              </div>
              <div class="cat" @click="deleteCategory(index)">
                <img src="@/assets/images/trash.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ModalCreate from "../components/ModalCreate.vue";
import ModalModify from "../components/ModalModify.vue";

export default {
  components: {
    ModalCreate,
    ModalModify,
  },
  props: {
    msg: String,
  },
  data() {
    return {
      isModalCreateVisible: false,
      isModalModifyVisible: false,
      categories: [], // DELETE
      currentOldName: "",
    };
  },
  mounted() {
      this.$store.dispatch('actionGetCategories');
  },
  computed: {
    computedCategories() {
      return this.$store.getters.getCategories.data;
    },
  },

  methods: {
    showModalCreate() {
      this.isModalCreateVisible = true;
    },
    showModalModify(name) {
      this.currentOldName = name;
      this.isModalModifyVisible = true;
    },
    closeModal() {
      this.isModalModifyVisible = false;
      this.isModalCreateVisible = false;
    },
    addCategoryName(name) {
      // this.categories.push({ categoryName: name });
      // TODO
      
    },
    deleteCategory(index) {
      if (confirm("Voulez-vous vraiment supprimer cette catégorie ?")) {
        this.categories.splice(index, 1);
      }
    },
    renameCategory(param) {
      for (let i = 0; i < this.categories.length; i++) {
        const e = this.categories[i];
        if (e.categoryName === param.oldName) {
          e.categoryName = param.newName;
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
.md-content {
  width: 200px;
  height: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: "Fjalla One";
}

.add-card-plus {
  font-size: 60px;
  padding: 0.2em;
}
.add-card-text {
  font-size: 30px;
  line-height: 1.4em;
  text-transform: uppercase;
}

.alignMyBlock {
  display: inline-block;
}

.card-added {
  font-size: 30px;
  line-height: 1em;
}

.cat {
  width: 30px;
  cursor: pointer;
  padding-top: 0px;
  writing-mode: vertical-rl;
  float: left;
  margin: 0px 0px 0px 7px;
}

.add-category {
  color: white;
  background-color: #b7f1e7;
  border: 0px solid #b5b5b5;

  margin: 10px 10px 10px 20px;
}

.add-category:active {
  background-color: #ccf3ed;
}

.category-added {
  color: rgb(80, 80, 80);
  background-color: #f5f5f5;
  border: 0px;

  margin: 10px 10px 10px 20px;
}

.category-added:active {
  background-color: white;
}

.categories-create {
  float: left;
}

span:hover {
  color: white;
}

.previous {
  border: 1.5px solid;
  padding: 5px;
  margin-bottom: 10px;
}

.title {
  color: rgb(150, 150, 150);
  font-size: 30px;
  font-family: "Fjalla One";
  margin: 50px 50px 25px 20px;
  content: "\a";
}
</style>