<template>
  <v-card class="main-card">
  <div class="vertical">
    <div class="content">
      <div class="home-title">
        <h3 class="title">
          Bienvenue, {{ this.$store.getters.getLogin.data.username }} !
        </h3>
      </div>
      <div class="md-layout">
        <!-- Calories consommées -->
        <div
          class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25"
        >
          <template>
            <md-card class="md-card-stats" md-with-hover>
              <md-card-header data-background-color="orange">
                <md-icon>directions_run</md-icon>
              </md-card-header>

              <md-card-content>
                <p class="home-card-title">Calories ingérées</p>
                <h3 class="home-card-subtitle">{{ computedTotalKcal }} Kcal</h3>
              </md-card-content>

              <md-card-actions md-alignment="left">
                <div class="stats">
                  <md-icon>date_range</md-icon>
                  {{ this.methodFormatDate(this.date) }}
                </div>
              </md-card-actions>
            </md-card>
          </template>
        </div>
        <!-- Dernier repas -->
        <div
          class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25"
        >
          <template>
            <md-card class="md-card-stats" md-with-hover>
              <md-card-header data-background-color="red">
                <md-icon>restaurant</md-icon>
              </md-card-header>

              <md-card-content>
                <p class="home-card-title">Dernier repas consommé</p>
                <h3 class="home-card-subtitle">
                  {{ computedLastMealName ? computedLastMealName : 'Aucun repas consommé' }} 
                </h3>
             </md-card-content>

              <md-card-actions md-alignment="left">
                <div class="stats">
                  <md-icon>date_range</md-icon>
                  {{ this.methodFormatDate(this.date) }}
                </div>
              </md-card-actions>
            </md-card>
          </template>
        </div>
        <!-- consommation d'eau -->
        <div
          class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-25"
        >
          <router-link to="/journal">
            <template>
              <md-card class="md-card-stats" md-with-hover>
                <md-card-header data-background-color="blue">
                  <md-icon>local_drink</md-icon>
                </md-card-header>

                <md-card-content>
                  <p class="home-card-title">Consommation d'eau journalière</p>
                  <h3 class="home-card-subtitle">
                    {{ Math.round(computedWaterDrank) }} L.
                  </h3>
                  <div v-if="computedWaterLeft > 0">
                    <p class="home-card-subtitle">Vous devriez encore boire</p>
                    <h4 class="home-card-subtitle">
                      {{ Math.round(computedWaterLeft) }} L.
                    </h4>
                  </div>
                  <div v-else>
                    <i style="color:#5ee4cc;">
                      Bravo ! Vous avez assez bu pour la journée !
                    </i>
                  </div>
                </md-card-content>

                <md-card-actions md-alignment="left">
                  <div class="stats">
                    <md-icon>date_range</md-icon>
                    {{ this.methodFormatDate(this.date) }}
                  </div>
                </md-card-actions>
              </md-card>
            </template>
          </router-link>
        </div>

        <!-- Semaine de bouffe -->
        <div
          class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-25"
        >
          <!-- <router-link to="/journal"> -->
            <week-widget/>
          <!-- </router-link> -->
        </div>

        <!-- évolution poids -->
      </div>
    </div>
  </div>
  </v-card>
</template>

<style>
@import url("https://fonts.googleapis.com/css?family=Material+Icons");

.home-card-subtitle {
  color: #666666;
  text-align: right;
  font-size: 20px;
}

.home-card-title {
  color:#6d6d6d;
  font-family: 'Fjalla One';
  text-transform: uppercase;
  text-align: right;
  font-size: 20px;
}

.home-title {
  text-align: center;
  text-transform: uppercase;
}
</style>

<script>
import Utils from "@/util/Utils";
import WeekWidget from "@/components/home/WeekWidget";

export default {
  components: {
    WeekWidget,
  },
  mounted() {
    this.$store.dispatch(
      "actionWaterGet",
      Utils.formatDateForBackend(this.date)
    );
    this.$store.dispatch(
      "actionMealsGet",
      Utils.formatDateForBackend(this.date)
    );
  },
  computed: {
    computedWaterDrank() {
      return this.$store.getters.getWaterData.quantity;
    },
    computedWaterLeft() {
      return 2.5 - this.$store.getters.getWaterData.quantity;
    },
    computedLastMealName() {
      const last = this.methodGetLastMeal();
      if (last === undefined) {
        return "";
      } else {
        return last.name;
      }
    },
    computedLastMealKcal() {
      const lastMeal = this.methodGetLastMeal();
      if (lastMeal === undefined) {
        return "";
      } else {
        return Utils.methodComputeFoodsValuesTotal(lastMeal.foods).kcal;
      }
    },
    computedTotalKcal() {
      let total = 0;
      for (let i = 0; i < this.$store.getters.getMealsData.length; i++) {
        const meal = this.$store.getters.getMealsData[i];
        total += Utils.methodComputeFoodsValuesTotal(meal.foods).kcal;
      }
      return total;
    },
  },
  data() {
    return {
      date: Utils.formatDateForBackend(Utils.now()),
    };
  },
  methods: {
    methodFormatDate(date) {
      return Utils.formatDate(date);
    },
    methodGetLastMeal() {
      const arr = this.$store.getters.getMealsData;
      return arr[arr.length - 1];
    },
  },
};
</script>
