<template>
  <v-card class="main-card">
    <div class="contenu">
      <div class="title" align="center">JOURNAL</div>
      <!-- CALENDRIER QUI SÉLECTIONNE DATE -->
      <v-menu
        v-model="isCalenderVisible"
        :close-on-content-click="false"
        max-width="290"
      >
        <template v-slot:activator="{ on, attrs }">
          <div class="journal-main-title">
            <button
              :value="date"
              v-bind="attrs"
              v-on="on"
              @click:clear="date = null"
            >
              <img src="@/assets/images/calendar.png" width="75px" />
            </button>
            <div class="journal-main-title-alignment">
              <div class="food-aliment-title" style="margin: 15px 0px 0px 10px">
                {{ formatDate }}
              </div>
            </div>

            <!-- AJOUTER DATE -->
          </div>
        </template>
        <v-date-picker
          v-model="date"
          @change="this.methodOnChangeDate"
        ></v-date-picker>
      </v-menu>

      <!-- CONSOMMATION D'EAU -->
      <div class="journal-main-title">
        <img src="@/assets/images/drink-water.png" width="75px" />
        <div class="journal-main-title-alignment">
          <div class="food-aliment-title" style="margin: 15px 0px 0px 10px">
            CONSOMMATION D'EAU
          </div>
        </div>
      </div>
      <div align="center">
        <div>
          <v-text-field
            class="water-quantity-alignment"
            data-ruid="waterQuantityInput"
            v-model="waterTempAmount"
            label="Quantité d'eau"
            type="number"
          />
          <v-select
            class="water-quantity-alignment"
            style="max-width: 100px"
            data-ruid="waterMeasures"
            v-model="waterTempUnit"
            :items="waterMeasures"
            label="Unité"
            solo
          />
        </div>
        <v-btn
          class="button-general"
          data-ruid="addWaterButton"
          v-on:click="addWaterConsumption(waterTempAmount, waterTempUnit)"
          color="#5ee4cc"
        >
          +
        </v-btn>
        <v-btn
          class="button-general"
          data-ruid="addWaterButton"
          v-on:click="removeWaterConsumption(waterTempAmount, waterTempUnit)"
          color="#e6535f"
        >
          -
        </v-btn>
        <v-progress-linear
          :value="this.waterProgressBar"
          color="#1babff"
          style="
            margin: 40px 0px 40px 80px;
            width: 80%;
            height: 25px;
            border-radius: 15px;
          "
          striped
        >
          <template v-slot:default="{ value }">
            <strong
              style="font-family: 'Fjalla One'; color: #fff; font-size: 15pt"
            >
              {{ value.toFixed(1) }} %
            </strong>
          </template>
        </v-progress-linear>

        <div class="advices">
          {{ displayRecommandation() }}
        </div>
      </div>

      <!-- FIN CONSOMMATION D'EAU -->

      <!-- CRÉATION DE REPAS-->
      <v-app>
        <div>
          <!-- DIALOG CRéATION MEAL -->
          <v-dialog
            v-model="isMealCreationDialogVisible"
            persistent
            max-width="600px"
          >
            <template v-slot:activator="{ on, mealInformations }">
              <div class="journal-main-title">
                <button
                  :value="date"
                  v-bind="mealInformations"
                  v-on="on"
                  @click:clear="date = null"
                  style="margin: 0px 0px 0px 18px"
                >
                  <img src="@/assets/images/meal.png" width="75px" />
                </button>
                <div class="journal-main-title-alignment">
                  <div class="food-aliment-title" style="margin-left: 10px">
                    NOURRITURE
                  </div>
                </div>
              </div>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline"
                  ><h1 class="headline">Ajouter un repas</h1></span
                >
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="6">
                      <v-text-field
                        label="Nom du repas"
                        v-model="mealName"
                        required
                      />
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                      <v-dialog
                        ref="dialog"
                        v-model="isMealModalVisible"
                        persistent
                        width="290px"
                      >
                        <template v-slot:activator="{ on, mealInformations }">
                          <v-text-field
                            v-model="time"
                            label="Heure du repas"
                            prepend-icon="mdi-clock-time-four-outline"
                            readonly
                            v-bind="mealInformations"
                            v-on="on"
                          >
                          </v-text-field>
                        </template>
                        <v-time-picker
                          v-if="isMealModalVisible"
                          v-model="time"
                          format="24hr"
                        >
                          <v-spacer></v-spacer>
                          <v-btn
                            class="button-general"
                            v-on:click="isMealModalVisible = false"
                            color="#e6535f"
                          >
                            Cancel
                          </v-btn>
                          <v-btn
                            class="button-general"
                            v-on:click="$refs.dialog.save()"
                            color="#5ee4cc"
                          >
                            OK
                          </v-btn>
                        </v-time-picker>
                      </v-dialog>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  class="button-general"
                  v-on:click="isMealCreationDialogVisible = false"
                  color="#e6535f"
                >
                  Annuler
                </v-btn>
                <v-btn
                  class="button-general"
                  v-on:click="addMeal"
                  color="#5ee4cc"
                >
                  Valider
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>

        <div class="body">
          <!-- tableau de meals -->
          <v-expansion-panels class="meal">
            <v-expansion-panel
              v-for="meal in computedMealsData"
              :key="meal.index"
            >
              <!-- DIALOG DE SUPPRESSION D'UN MEAL -->
              <!-- <v-dialog v-model="dialogDelete" persistent max-width="600px">
                <v-card>
                  <v-card-title class="headline">
                    Êtes-vous sûr de vouloir supprimer ce repas ?
                  </v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <div
                      style="
                        height: 50px;
                        color: #fff !important;
                        margin: 0px 10px;
                      "
                    >
                      <button
                        type="button"
                        class="button-delete"
                        @click="closeDelete"
                      >
                        Annuler
                      </button>
                    </div>
                    <div
                      style="
                        height: 50px;
                        color: #fff !important;
                        margin: 0px 10px;
                      "
                    >
                      <button
                        type="button"
                        class="button-add"
                        style="color: #fff !important"
                        @click="deleteItemConfirm"
                      >
                        Valider
                      </button>
                    </div>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog> -->

              <!-- DIALOG DE DEMANDE DE MODIFICATION D'UN MEAL -->
              <v-dialog v-model="isMealEditDialogVisible" max-width="600px">
                <v-card>
                  <v-card-title class="headline">
                    <h1 class="headline">Modifier un repas</h1>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="6">
                          <v-text-field
                            label="Nom du repas"
                            v-model="mealName"
                            required
                          />
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                          <v-dialog
                            ref="dialog"
                            v-model="isMealModalVisible"
                            persistent
                            width="290px"
                          >
                            <template
                              v-slot:activator="{ on, mealInformations }"
                            >
                              <v-text-field
                                v-model="time"
                                label="Heure du repas"
                                prepend-icon="mdi-clock-time-four-outline"
                                readonly
                                v-bind="mealInformations"
                                v-on="on"
                              >
                              </v-text-field>
                            </template>
                            <v-time-picker
                              v-if="isMealModalVisible"
                              v-model="time"
                              format="24hr"
                            >
                              <v-spacer></v-spacer>
                              <v-btn
                                text
                                color="primary"
                                @click="isMealModalVisible = false"
                              >
                                Cancel
                              </v-btn>
                              <v-btn
                                text
                                color="primary"
                                @click="isMealModalVisible = false"
                              >
                                OK
                              </v-btn>
                            </v-time-picker>
                          </v-dialog>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      class="button-general"
                      v-on:click="isMealEditDialogVisible = false"
                      color="#e6535f"
                    >
                      Annuler
                    </v-btn>

                    <v-btn
                      class="button-general"
                      v-on:click="editMeal(meal)"
                      color="#5ee4cc"
                    >
                      Valider
                    </v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <div align="right" style="margin: 10px 15px 0px 0px">
                <button
                  small
                  class="mr-2"
                  @click="isMealEditDialogVisible = true"
                >
                  <img src="@/assets/images/adjust.png" />
                </button>
                <button small @click="deleteMeal(meal)">
                  <img src="@/assets/images/trash.png" />
                </button>
              </div>
              <v-expansion-panel-header>
                <div class="fenetre">
                  <p>
                    <span class="meal-name">
                      {{
                        meal.name === ""
                          ? "Veuillez nommer votre repas"
                          : meal.name
                      }}
                    </span>
                  </p>
                  <span class="meal-hour">Heure du repas : </span>
                  {{
                    meal.dateTimeOfConsumption === null
                      ? "Veuillez définir une heure pour votre repas"
                      : getTime(meal.dateTimeOfConsumption)
                  }}
                </div>
                <div>
                  <!-- Total Kcal d'un repas et infos calculées -->
                  <div class="row">
                    <div class="column">
                      <label class="food-label" for="kcal">Kcal</label>
                      {{
                        methodComputeFoodsValuesTotal(meal.foods).kcal
                          ? methodComputeFoodsValuesTotal(
                              meal.foods
                            ).kcal.toFixed(1)
                          : 0
                      }}
                    </div>

                    <div class="column">
                      <label class="food-glucides-label" for="carbohydrate"
                        >Glucides</label
                      >
                      {{
                        methodComputeFoodsValuesTotal(meal.foods).carbohydrate
                          ? methodComputeFoodsValuesTotal(
                              meal.foods
                            ).carbohydrate.toFixed(1)
                          : 0
                      }}
                      g
                      <!-- <label class="food-sucres-label" for="sugar"
                        >Dont sucres</label
                      >
                      {{ methodComputeFoodsValuesTotal(meal.foods).sugar }}g -->
                    </div>

                    <!-- FAT -->
                    <div class="column">
                      <label class="food-lipides-label" for="fat"
                        >Lipides</label
                      >
                      {{
                        methodComputeFoodsValuesTotal(meal.foods).fat
                          ? methodComputeFoodsValuesTotal(
                              meal.foods
                            ).fat.toFixed(1)
                          : 0
                      }}g
                      <!-- <label class="food-satures-label" for="saturated"
                        >Dont saturés</label
                      >
                      {{ methodComputeFoodsValuesTotal(meal.foods).saturated }}g -->
                    </div>

                    <!-- PROT -->
                    <div class="column">
                      <label class="food-proteines-label" for="protein"
                        >Protéines</label
                      >
                      {{
                        methodComputeFoodsValuesTotal(meal.foods).protein
                          ? methodComputeFoodsValuesTotal(
                              meal.foods
                            ).protein.toFixed(1)
                          : 0
                      }}g
                    </div>
                    <!-- Densité calorique -->
                    <div class="column">
                      <label class="food-label" for="density"
                        >Densité calorique</label
                      >
                      {{
                        isNan(methodComputeFoodsValuesTotal(meal.foods).density)
                          ? 0
                          : methodComputeFoodsValuesTotal(meal.foods).density
                      }}%
                    </div>
                    <div class="column">
                      <div class="chart-container">
                        <food-chart
                          :chartData="
                            generateChartDataForMeal(
                              methodComputeFoodsValuesTotal(meal.foods)
                            )
                          "
                          :options="generateChartOptionsForMeal"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <!-- EXPANSION PANEL -->
                <v-data-table
                  :headers="headers"
                  :items="methodComputeFoodsValues(meal.foods)"
                  sort-by="calories"
                  class="elevation-1"
                  :disable-pagination="true"
                  :hide-default-footer="true"
                >
                  <template v-slot:top>
                    <v-toolbar flat>
                      <!-- DIALOG D'AJOUT D'ALIMENT -->
                      <v-dialog
                        v-model="isVisibleAddIngredientDialog"
                        persistent
                        max-width="900px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            class="button-general"
                            v-bind="attrs"
                            v-on="on"
                            color="#5ee4cc"
                          >
                            Ajouter aliment
                          </v-btn>
                        </template>
                        <v-card>
                          <v-card-title>
                            <h1 class="headline">Ajouter un aliment</h1>
                          </v-card-title>

                          <v-card-text>
                            <input
                              v-model="search"
                              type="text"
                              id="searchFood"
                              name="searchFood"
                              placeholder="Rechercher un aliment ..."
                              class="form-control form-control-lg"
                              style="
                                border: 1px solid #bbb;
                                border-radius: 30px;
                                padding-left: 15px;
                              "
                              @input="methodSearch"
                            />
                            <div
                              class="food-element card"
                              v-for="food in foods"
                              :key="food.id"
                            >
                              <food-element :food="food" />
                              <v-btn
                                class="button-general"
                                data-ruid="addWaterButton"
                                v-on:click="methodAddFood(meal, food)"
                                color="#5ee4cc"
                              >
                                Ajouter
                              </v-btn>
                            </div>
                            <!-- NO FOOD INDICATOR -->
                            <div
                              v-if="foods.length === 0 && search.length === 0"
                              class="center-column"
                            >
                              <h2>Rechercher</h2>
                              <h4>
                                Tapez quelque-chose pour voir ce qu'il y a dans
                                le frigo.
                              </h4>
                            </div>
                            <div
                              v-else-if="foods.length === 0"
                              class="center-column"
                            >
                              <h2>Aucun aliment...</h2>
                              <h4>Remplir le frigo</h4>
                            </div>
                          </v-card-text>

                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <template>
                              <input
                                v-model="foodInTemp.quantity"
                                type="number"
                                step="0.1"
                                id="foodInQauntity"
                                name="foodInQauntity"
                                placeholder="Quantité en g"
                                class="form-control form-control-lg"
                                style="
                                  border: 1px solid #bbb;
                                  border-radius: 30px;
                                  padding-left: 15px;
                                "
                              />
                              <v-btn
                                class="button-general"
                                v-on:click="closeAddIngredientDialog"
                                color="#e6535f"
                              >
                                Fermer
                              </v-btn>
                            </template>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>

                      <!-- DIALOG DE DEMANDE DE SUPPRESSION -->
                      <v-dialog
                        v-model="isDeleteFoodInDialogVisible"
                        max-width="600px"
                      >
                        <v-card>
                          <v-card-title class="headline">
                            Êtes vous sûr de vouloir supprimer cet ingrédient
                            '{{ tempFoodIn.name }}' ?
                          </v-card-title>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                              class="button-general"
                              v-on:click="hideDeleteFoodInDialog"
                              color="#e6535f"
                            >
                              Annuler
                            </v-btn>
                            <v-btn
                              class="button-general"
                              v-on:click="confirmDeleteFoodIn"
                              color="#5ee4cc"
                            >
                              Valider
                            </v-btn>
                            <v-spacer></v-spacer>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>

                      <!-- DIALOG DE DEMANDE DE MODIFICATION -->
                      <v-dialog
                        v-model="isEditFoodInDialogVisible"
                        max-width="600px"
                      >
                        <v-card>
                          <v-card-title class="headline">
                            Êtes vous sûr de vouloir Modifier cet ingrédient '{{
                              tempFoodIn.name
                            }}' ?
                          </v-card-title>

                          <input
                            v-model="foodInTemp.quantity"
                            type="number"
                            step="0.1"
                            id="foodInQauntity"
                            name="foodInQauntity"
                            placeholder="Quantité en g"
                            class="form-control form-control-lg"
                            style="
                              border: 1px solid #bbb;
                              border-radius: 30px;
                              padding-left: 15px;
                            "
                          />
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                              class="button-general"
                              data-ruid="addWaterButton"
                              v-on:click="hideEditFoodInDialog"
                              color="#e6535f"
                            >
                              Annuler
                            </v-btn>
                            <v-btn
                              class="button-general"
                              data-ruid="addWaterButton"
                              v-on:click="confirmEditFoodIn"
                              color="#5ee4cc"
                            >
                              Valider
                            </v-btn>
                            <v-spacer></v-spacer>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-toolbar>
                  </template>

                  <!-- Boutons pour modifier/supprimer ingrédient -->
                  <template v-slot:item.actions="{ item }">
                    <button small @click="editFoodIn(meal, item)">
                      <img src="@/assets/images/adjust.png" />
                    </button>
                    <button small @click="deleteFoodIn(meal, item)">
                      <img src="@/assets/images/trash.png" />
                    </button>
                  </template>
                </v-data-table>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </div>
      </v-app>
    </div>
  </v-card>
</template>

<script>
import MealIngredients from "../components/MealIngredients.vue";
import FoodElement from "../components/food/FoodElement.vue";
import { format, parseISO } from "date-fns";
import Notifications from "@/util/Notifications";
import Utils from "@/util/Utils";
import WaterModificationDTO from "@/gen/model/WaterModificationDTO";
import MealCreationDTO from "@/gen/model/MealCreationDTO";
import FoodInCreationDTO from "@/gen/model/FoodInCreationDTO";
import ChartHelper from "@/util/ChartHelper";
import FoodChart from "@/components/food/FoodChart";

export default {
  components: { MealIngredients, FoodElement, FoodChart },
  mounted() {
    this.methodMounted();
  },
  computed: {
    // Global
    formatDate() {
      return Utils.formatDate(this.date);
    },

    // Water
    waterConsumption() {
      return this.$store.getters.getWaterData;
    },
    waterToDrink() {
      return (
        parseFloat(this.waterRecommandation) -
        parseFloat(this.waterConsumption.quantity)
      );
    },
    waterProgressBar() {
      return (
        parseFloat(this.waterConsumption.quantity * 100) /
        parseFloat(this.waterRecommandation)
      );
    },

    // Meal
    computedMealsData() {
      return this.$store.getters.getMealsData;
    },
    foods() {
      return this.$store.getters.getFood.data;
    },
    generateChartOptionsForMeal() {
      return ChartHelper.generateChartOptionsForMeal();
    },
  },

  data() {
    return {
      // Global
      date: Utils.formatDateForBackend(Utils.now()),
      time: Utils.nowTime(),
      isCalenderVisible: false,

      // Meal
      isMealModalVisible: false,
      mealName: "",
      foodInTemp: {
        unit: "g",
        quantity: 0,
        food: "",
      },
      tempFoodIn: {
        name: "name",
      },
      isDeleteFoodInDialogVisible: false,
      isEditFoodInDialogVisible: false,
      intentionDeleteFoodIn: false,

      tempMeal: {},
      isMealCreationDialogVisible: false,
      isMealEditDialogVisible: false,

      // Expansion Pannel
      isVisibleAddIngredientDialog: false,
      headers: [
        {
          text: "Ingrédients",
          align: "start",
          sortable: false,
          value: "name",
        },
        { text: "Quantité (g)", value: "quantity" },
        { text: "Kcal", value: "kcal" },
        { text: "Glucides (g)", value: "carbohydrate" },
        { text: "Lipides (g)", value: "fat" },
        { text: "Protéines (g)", value: "protein" },
        { text: "Densité calorique (%)", value: "density" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      search: "",

      // Water
      waterRecommandation: 2.5,
      waterMeasures: ["ml", "cl", "dl", "L"],
      waterTempAmount: null,
      waterTempUnit: 0,
    };
  },
  methods: {
    // Global
    methodMounted() {
      this.$store.dispatch(
        "actionWaterGet",
        Utils.formatDateForBackend(this.date)
      );
      this.$store.dispatch(
        "actionMealsGet",
        Utils.formatDateForBackend(this.date)
      );
    },
    methodOnChangeDate() {
      this.isCalenderVisible = false;
      this.methodMounted();
    },
    isNan(n) {
      return isNaN(n);
    },

    // Meal
    addMeal() {
      this.isMealCreationDialogVisible = false;
      // console.log(this.mealName);
      let dto = new MealCreationDTO();
      dto.name = this.mealName;
      dto.dateTimeOfConsumption = Utils.createDatetime(this.date, this.time);
      dto.foods = [];
      // console.log(this.date);
      // console.log(this.time);
      // console.log(dto.dateTimeOfConsumption);
      this.$store.dispatch("actionMealPost", dto);
    },
    deleteMeal(meal) {
      console.log(meal.id);
      this.$store.dispatch("actionMealDelete", meal.id);
    },
    editMeal(meal) {
      let dto = new MealCreationDTO();
      dto.name = this.mealName;
      dto.dateTimeOfConsumption = Utils.createDatetime(this.date, this.time);
      dto.foods = this.foods;

      this.$store.dispatch("actionMealPut", {
        mealId: meal.id,
        mealCreationDTO: dto,
      });
      this.isMealEditDialogVisible = false;
    },
    closeAddIngredientDialog() {
      this.isVisibleAddIngredientDialog = false;
    },
    methodSearch() {
      // console.log("Search input: '" + this.search + "'.");
      this.$store.dispatch("actionFoodGet", this.search);
    },
    methodAddFood(meal, food) {
      // console.log(food.name);
      // console.log(this.foodInTemp.quantity);
      if (this.foodInTemp.quantity <= 0 && !this.intentionDeleteFoodIn) {
        Notifications.warn(
          "Mauvaise Valeur",
          "Veuillez mettre une quantité valide."
        );
      } else {
        let dto = new FoodInCreationDTO();
        dto.unit = "g";
        dto.quantity = this.foodInTemp.quantity;
        dto.food = food.name;
        this.$store.dispatch("actionMealPutAddFoodIn", {
          mealId: meal.id,
          foodInCreationDTO: dto,
        });
      }
      this.intentionDeleteFoodIn = false;
    },
    methodComputeFoodsValues(foods) {
      return Utils.methodComputeFoodsValues(foods);
    },

    methodComputeFoodsValuesTotal(foods) {
      return Utils.methodComputeFoodsValuesTotal(foods);
    },

    getTime(datetime) {
      return Utils.getTime(datetime);
    },
    generateChartDataForMeal(food) {
      return ChartHelper.generateChartDataForMeal(food);
    },

    // Delete FoodIn
    deleteFoodIn(meal, foodIn) {
      this.tempMeal = meal;
      this.tempFoodIn = foodIn;
      this.intentionDeleteFoodIn = true;
      this.showDeleteFoodInDialog();
      // console.log(meal);
      // console.log(foodIn);
    },
    confirmDeleteFoodIn() {
      this.foodInTemp.quantity = "0";
      this.methodAddFood(this.tempMeal, this.tempFoodIn);
      this.hideDeleteFoodInDialog();
    },
    showDeleteFoodInDialog() {
      this.isDeleteFoodInDialogVisible = true;
    },
    hideDeleteFoodInDialog() {
      this.isDeleteFoodInDialogVisible = false;
    },

    // Edit FoodIn
    editFoodIn(meal, foodIn) {
      this.tempMeal = meal;
      this.tempFoodIn = foodIn;
      this.showEditFoodInDialog();
    },
    confirmEditFoodIn() {
      console.log(this.tempFoodIn);
      // this.foodInTemp.quantity = quantity;
      this.methodAddFood(this.tempMeal, this.tempFoodIn);
      this.hideEditFoodInDialog();
    },
    showEditFoodInDialog() {
      this.isEditFoodInDialogVisible = true;
    },
    hideEditFoodInDialog() {
      this.isEditFoodInDialogVisible = false;
    },

    // Water
    sendWaterApiUpdateAdd(amountWater, unitFactor) {
      let dto = new WaterModificationDTO();
      dto.id = this.waterConsumption.id;
      dto.user = this.waterConsumption.user;
      dto.quantity =
        this.waterConsumption.quantity +
        parseFloat(amountWater) / parseFloat(unitFactor);
      dto.dateOfComspution = Utils.formatDateForBackend(this.date);
      this.$store.dispatch("actionWaterPut", dto);
    },
    sendWaterApiUpdateSub(amountWater, unitFactor) {
      let dto = new WaterModificationDTO();
      dto.id = this.waterConsumption.id;
      dto.user = this.waterConsumption.user;
      dto.quantity =
        this.waterConsumption.quantity -
        parseFloat(amountWater) / parseFloat(unitFactor);
      dto.dateOfComspution = Utils.formatDateForBackend(this.date);
      this.$store.dispatch("actionWaterPut", dto);
    },
    addWaterConsumption(amountWater, waterTempUnit) {
      let unitFactor = 0;
      switch (waterTempUnit) {
        case this.waterMeasures[0]:
          unitFactor = 1000;
          break;
        case this.waterMeasures[1]:
          unitFactor = 100;
          break;
        case this.waterMeasures[2]:
          unitFactor = 10;
          break;
        case this.waterMeasures[3]:
          unitFactor = 1;
          break;
        default:
          unitFactor = -1;
          break;
      }

      if (amountWater === null) {
        Notifications.warn(
          "Mauvaise Valeur",
          "Veuilez spécifier une quantité d'eau."
        );
      }
      if (!this.isNumber(amountWater)) {
        Notifications.warn(
          "Mauvaise Valeur" + amountWater,
          "Veuillez renseigner un chiffre ou un nombre."
        );
      }
      //Si aucune unité n'est spécifiée
      if (unitFactor === -1) {
        Notifications.warn(
          "Mauvaise Valeur",
          "Vous devez préciser une unité de mesure valide."
        );
      }
      if (
        amountWater != null &&
        this.isNumber(amountWater) &&
        unitFactor >= 1 &&
        unitFactor <= 1000
      ) {
        this.sendWaterApiUpdateAdd(amountWater, unitFactor);
      }
    },

    removeWaterConsumption(amountWater, waterTempUnit) {
      let unitFactor = 0;
      switch (waterTempUnit) {
        case this.waterMeasures[0]:
          unitFactor = 1000;
          break;
        case this.waterMeasures[1]:
          unitFactor = 100;
          break;
        case this.waterMeasures[2]:
          unitFactor = 10;
          break;
        case this.waterMeasures[3]:
          unitFactor = 1;
          break;
        default:
          unitFactor = -1;
          break;
      }
      //si aucun chiffre/nombre n'est spécifié
      if (amountWater === null) {
        Notifications.warn(
          "Mauvaise Valeur",
          "Veuilez spécifier une quantité d'eau."
        );
      }
      if (!this.isNumber(amountWater)) {
        Notifications.warn(
          "Mauvaise Valeur",
          "Veuillez renseigner un chiffre ou un nombre."
        );
      }
      //Si aucune unité n'est spécifiée
      if (unitFactor === -1) {
        Notifications.warn(
          "Mauvaise Valeur",
          "Vous devez préciser une unité de mesure valide."
        );
      }
      if (
        amountWater != null &&
        this.isNumber(amountWater) &&
        unitFactor >= 1 &&
        unitFactor <= 1000
      ) {
        if (
          this.waterConsumption.quantity -
            parseFloat(amountWater) / parseFloat(unitFactor) <
          0
        ) {
          Notifications.warn(
            "Mauvaise Valeur",
            "Vous ne pouvez pas aller plus bas que 0 litres."
          );
        } else {
          this.sendWaterApiUpdateSub(amountWater, unitFactor);
        }
      }
    },

    displayRecommandation() {
      if (this.waterToDrink <= 0) {
        return (
          "Bravo, vous avez bu " +
          parseFloat(this.waterConsumption.quantity).toFixed(2) +
          " litres !"
        );
      } else {
        return (
          "Vous devriez encore boire " +
          parseFloat(this.waterToDrink).toFixed(2) +
          " L."
        );
      }
    },

    isNumber(number) {
      return /\d+(\.\d+)?$/.test(number);
    },
  },
};
</script>


<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.advices {
  color: #949494;
  font-size: 19px;
  font-family: "Fjalla One";
  text-align: center;
  width: 80%;
  margin-left: 80px;
}

.body {
  margin: 40px 0px 0px 80px;
  flex-flow: column;
}

.chart-container {
  width: 150px;
  height: 150px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 0px;
  margin-bottom: 20px;
}

.contenu {
  flex-direction: column;
}

.fenetre {
  margin-bottom: 10px;
}

.full-control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.full-control > .md-list {
  max-width: 100%;
  height: 400px;
  display: inline-block;
  overflow: auto;
  border: 1px solid rgba(#000, 0.12);
  vertical-align: top;
}

.journal-button-margin {
  margin: 0px 10px 0px 10px !important;
}

.journal-main-title {
  margin: 20px 0px 20px 20px;
  display: flex;
  flex-direction: row;
}

.journal-main-title-alignment {
  margin-top: 20px;
}

.headline {
  text-align: center;
  min-width: 200px;
}

.meal {
  width: 50%;
  min-width: 800px;
}

.meal-hour {
  color: #6ce7d1;
  font-size: 15px;
  font-family: "Fjalla One";
}

.meal-name {
  color: #23b49a;
  font-size: 18px;
  font-family: "Fjalla One";
  text-align: left;
}

.menu-buttons {
  text-align: right;
}

.md-table .md-table-cell {
  text-align: center;
  width: 100px;
  border: 1px solid #000;
}

.md-table {
  margin: 0px 0px 0px 20px;
  width: 900px;
}

.md-table-head {
  color: #e03a34;
}

.research {
  margin: 40px 50px 25px 20px;
  width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 15px 0px 0px 10px;
}

.water-quantity-alignment {
  display: inline-block;
  margin: 0px 15px;
}
</style>