<template>
  <div class="general-landing">
    <div class="header-landing">
      <div class="header-text-landing">
        <p class="header-title-landing">
          Choisissez un mode de vie sain, en toute simplicité !
        </p>
        <p>
          L'application bien-être qui vous aide à manger sainement pour
          atteindre vos objectifs santé.
        </p>
        <div align="center">
          <router-link to="/register">
          <v-btn class="button-landing-subscribe" color="#5ee4cc">
            S'inscrire
          </v-btn>
          </router-link
            >
        </div>
      </div>
      <img src="@/assets/images/landingpage/experience-phone2.png" width="550px" />
        
    </div>

    <div class="body-landing">
      <!-- titre -->
      <div class="body-title-landing">Découvrez Nutricare !</div>

      <!-- 1er composant -->
      <div class="body-component-landing">
        <div class="body-inside-component-landing">
          <img src="@/assets/images/landingpage/voyage-sante.png" />
        </div>
        <div class="body-inside-component-landing">
          <div class="body-subtitle-landing">Le suivi, la clé du succès</div>
        </div>
        <div class="body-inside-component-landing">
          <p class="body-text-landing">
            Suivez vos activités et votre alimentation à l'aide de nos compteurs
            de nourriture, d'exercice physique et de consommation d'eau pour
            maintenir une vie quotidienne équilibrée.
          </p>
        </div>
      </div>

      <!-- 2ème composant -->
      <div class="body-component-landing">
        <div class="body-inside-component-landing">
          <img src="@/assets/images/landingpage/recettes.png" />
        </div>
        <div class="body-inside-component-landing">
          <div class="body-subtitle-landing">Enregistrez vos recettes</div>
        </div>
        <div class="body-inside-component-landing">
          <p class="body-text-landing">
            Enregistrez vos recettes et classez-les dans vos propres catégories.
            Vous pouvez également référencer leurs macros pour calculer
            automatiquement ses calories. Elles peuvent être réutilisées à
            souhait !
          </p>
        </div>
      </div>

      <!-- 3ème composant -->
      <div class="body-component-landing">
        <div class="body-inside-component-landing">
          <img src="@/assets/images/meal.png" />
        </div>
        <div class="body-inside-component-landing">
          <div class="body-subtitle-landing">Commencez votre voyage santé</div>
        </div>
        <div class="body-inside-component-landing">
          <p class="body-text-landing">
            Pour vous aider à atteindre vos objectifs et à personnaliser votre
            parcours santé, vous pouvez ajouter vos repas, aliments, recettes et
            exercices préférés à vos favoris.
          </p>
        </div>
      </div>
    </div>

    <!-- témoignage -->
    <div class="footer-landing">
      <img src="@/assets/images/landingpage/temoignage.png" />
      <div class="footer-text-landing">
        <p class="footer-title-landing">
          +5 kg en 3 semaines
        </p>
        <p class="footer-subtext-landing">
          Cette appli est la meilleure chose qui soit arrivée à ma santé. 
          J'ai été stupéfait que mes fringales soient apparues en seulement quelques jours, et le fait d'avoir envie de manger entre les repas aide vraiment beaucoup. 
          Bien sûr, c'est fantastique de gagner 5 kg en 3 semaines, mais le plus important c'est l'amélioration de ma santé.
        </p>
        <p align="right"><i>Alexandre, 32 ans.</i></p>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/landing.css";
export default {
  data() {
    return {};
  },
};
</script>
