<style>
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
</style>
<template>
  <h1>404 - Page not Found</h1>
</template>

<script>
export default {
  data() {
    return {

      
    };
  }
};
</script>
<style>
h1 {
  text-align: center;
}
</style>