<template>
  <div class="wrapper-tutorial">
    <div class="header-tutorial">
      <div class="title-tutorial">
        <h3 class="title">Tutoriels</h3>
      </div>
      <p class="expl-tutorial">
        Cette page à pour but de vous expliquer diverses actions possibles sur
        Nutricare. Pour une demande particulière, n'hésitez pas à contacter la <a href="mailto:elodie.lagier@heig-vd.ch" class="link-tutorial">team Nutricare</a>.
        <br /><br />
        <ul class="bullet-links">
          <li><a href="#water" class="bullet-link">Ajouter une consommation d'eau</a></li>
          <li><a href="#frigo" class="bullet-link">Ajouter un aliment dans le garde-manger</a></li>
          <li><a href="#meal" class="bullet-link">Ajouter un repas</a></li>
          <li><a href="#food" class="bullet-link">Ajouter un aliment à un repas</a></li>
        </ul>
      </p>
    </div>

    <div class="divider div-transparent div-dot"></div>
    
    <div class="body-tutorial">
      <div class="body-subsection">
        <h3 class="subtitle header-tutorial" id="water">Ajouter une consommation d'eau</h3>
        <div class="title-tutorial">
          <img src="@/assets/images/tutorials/addWater.gif" />
        </div>
        <p class="expl-tutorial-subsection">
          <ul>
            <li>
              Écrire un chiffre entier ou à virgule dans le champs prévu à cet effet.
            </li>
            <li>
              Sélectionnez une unité.
            </li>
            <li>
              Cliquer sur le bouton "+" pour ajouter, et "-" pour enlever la quantité d'eau précisée.
            </li>
          </ul>
        </p>
      </div>

      <div class="divider div-transparent div-dot"></div>
      
      <div class="body-subsection">
        <h3 class="subtitle header-tutorial" id="frigo">Ajouter un aliment dans le garde-manger</h3>
        <div class="title-tutorial">
          <img src="@/assets/images/tutorials/addFood.gif" />
        </div>
        <p class="expl-tutorial-subsection">
          <ul>
            <li>
              Cliquez sur "Créer aliment".
            </li>
            <li>
              Remplissez les différents champs.
            </li>
            <li>
              Cliquez sur "Créer".
            </li>
          </ul>
        </p>
      </div>

      <div class="divider div-transparent div-dot"></div>

      <div class="body-subsection">
        <h3 class="subtitle header-tutorial" id="meal">Ajouter un repas</h3>
        <div class="title-tutorial">
          <img src="@/assets/images/tutorials/addMeal.gif" />
        </div>
        <p class="expl-tutorial-subsection">
          <ul>
            <li>
              Cliquez sur l'icone à côté du titre "Nourriture".
            </li>
            <li>
              Définissez le nom du repas.
            </li>
            <li>
              Définissez l'heure où vous avez pris ce repas.
            </li>
            <li>
              Cliquez sur "Valider".
            </li>
          </ul>
        </p>
      </div>

      <div class="divider div-transparent div-dot"></div>

      <div class="body-subsection">
        <h3 class="subtitle header-tutorial" id="food">Ajouter un aliment à un repas</h3>
        <div class="title-tutorial">
          <img src="@/assets/images/tutorials/addAliment.gif" />
        </div>
        <p class="expl-tutorial-subsection">
          <ul>
            <li>
              Cliquez sur "Ajouter aliment".
            </li>
            <li>
              Recherchez votre aliment dans la base.
            </li>
            <li>
              Définissez une quantité en <u>grammes</u>.
            </li>
            <li>
              Cliquez sur "Ajouter", puis "Fermer".
            </li>
          </ul>
        </p>
      </div>

      <div class="divider div-transparent div-dot"></div>
      
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
};
</script>

<style scoped>
  .body-tutorial,
  img {
    text-align: center;
  }

  .header-tutorial {
    text-align: center;
  }

  .body-subsection {
    margin: 20px 0px;
  }

  .bullet-links {
    margin: 20px;
  }

  .bullet-link {
    color:#3ea78e !important;
  }

  .bullet-link:hover {
    color:#54bda4 !important;
  }

  .expl-tutorial-subsection {
    background-color: rgb(230, 230, 230);
    max-width: 720px;
    border-radius: 30px;
    padding: 20px 30px;
    margin: 20px 0px;
    display: inline-block;
    text-align: left;
  }

  .expl-tutorial {
    background-color: rgb(230, 230, 230);
    max-width: 400px;
    border-radius: 30px;
    padding: 15px;
    display: inline-block;
    text-align: justify;
  }

  .title-tutorial {
    display: block;
  }

  /* source : https://www.csscodelab.com/html-code-example-for-divider-line/ */
  .divider {
    position: relative;
    margin: 90px;
    height: 1px;
  }

  .div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(
      to right,
      transparent,
      rgb(48, 49, 51),
      transparent
    );
  }

  .div-dot:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -9px;
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-color: goldenrod;
    border: 1px solid rgb(48, 49, 51);
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
  }

  .link-tutorial {
    color: rgb(211, 169, 71) !important ;
  }

  .wrapper-tutorial {
    padding: 15px;
  }
</style>