<template>
  <div>
    <br /><br /><br /><br />
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-100">
        <md-card class="md-card-profile">
          <div class="md-card-avatar">
            <img class="img" :src="this.$store.getters.getProfileImage" />
          </div>
          <md-card-content>
            <div class="profil-title">
              <div class="title">
                {{ this.$store.getters.getLogin.data.username }}
              </div>
            </div>
            <div align="center">
              <label class="file-select">
                <!-- We can't use a normal button element here, as it would become the target of the label. -->
                <div style="height: 50px; margin-top: 5px">
                  <div class="modify-pic">Modifier image</div>
                </div>
                      
                <!-- Now, the file input that we hide. -->
                <input type="file" @change="onFileSelected" hidden="true" />
              </label>
            </div>

            <h2 class="subtitle">Informations générales</h2>

            <v-container>
              <v-row>
                <v-col cols="16" sm="4">
                  <!-- PRENOM -->
                  <div id="firstname">
                    <div class="food-aliment-title">Prénom</div>
                    <div class="value" v-if="isModifyingProfile === false">
                      {{ this.computedProfileData.firstname }}
                    </div>
                    <input
                      v-else
                      v-model="firstname"
                      type="text"
                      id="firstname"
                      name="firstname"
                      class="form-control form-control-lg"
                      style="margin-bottom: 20px"
                    />
                  </div>
                </v-col>

                <v-col cols="16" sm="4">
                  <!-- NOM -->
                  <div id="lastname">
                    <div class="food-aliment-title">Nom</div>
                    <div class="value" v-if="isModifyingProfile === false">
                      {{ this.computedProfileData.lastname }}
                    </div>
                    <input
                      v-else
                      v-model="lastname"
                      type="text"
                      id="lastname"
                      name="lastname"
                      class="form-control form-control-lg"
                      style="margin-bottom: 20px"
                    />
                  </div>
                </v-col>

                <v-col cols="16" sm="4">
                  <!-- DATE DE NAISSANCE -->
                  <div id="birthdate">
                    <div class="food-aliment-title">Date de naissance</div>
                    <div class="value" v-if="isModifyingProfile === false">
                      {{ formatDate(this.computedProfileData.birthdate) }}
                    </div>
                    <input
                      v-else
                      v-model="birthdate"
                      type="date"
                      id="birthdate"
                      name="birthdate"
                      class="form-control form-control-lg"
                      style="margin-bottom: 20px"
                    />
                  </div>
                </v-col>
              </v-row>
            </v-container>
            <v-container>
              <v-row>
                <v-col cols="16" sm="4">
                  <!-- EMAIL -->
                  <div id="email">
                    <div class="food-aliment-title">E-mail</div>
                    <div class="value" v-if="isModifyingProfile === false">
                      {{ this.computedProfileData.email }}
                    </div>
                    <input
                      v-else
                      v-model="email"
                      type="email"
                      id="email"
                      name="email"
                      class="form-control form-control-lg"
                      style="margin-bottom: 20px"
                    />
                  </div>
                </v-col>

                <v-col cols="16" sm="4">
                  <!-- MOT DE PASSE -->
                  <div id="password">
                    <div class="food-aliment-title">Mot de passe</div>
                    <div class="value" v-if="isModifyingProfile === false">
                      ••••••••
                    </div>
                    <input
                      v-else
                      v-model="password"
                      type="password"
                      id="password"
                      name="password"
                      class="form-control form-control-lg"
                      style="margin-bottom: 20px"
                    />
                  </div>
                </v-col>

                <v-col cols="16" sm="4">
                  <!-- SEXE -->
                  <div id="sex">
                    <div class="food-aliment-title">Sexe</div>
                    <div class="value" v-if="isModifyingProfile === false">
                      {{
                        this.computedProfileData.sex === "FEMALE"
                          ? "Femme"
                          : "Homme"
                      }}
                    </div>
                    <div v-else>
                      <label for="sexMale">Homme</label>
                      <input
                        v-model="sex"
                        type="radio"
                        id="sexMale"
                        value="MALE"
                        class="userprofil-radio-button"
                        style="margin-bottom: 20px"
                      />
                      <label for="sexFemale">Femme</label>
                      <input
                        v-model="sex"
                        type="radio"
                        id="sexFemale"
                        value="FEMALE"
                        class="userprofil-radio-button"
                        style="margin-bottom: 20px"
                      />
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </md-card-content>
        </md-card>
        <v-btn
          class="button-general"
          v-on:click="modifyProfile"
          v-if="isModifyingProfile === false"
          color="#5ee4cc"
        >
          Modifier
        </v-btn>

        <v-btn
          class="button-general"
          v-else
          v-on:click="confirmProfileModification"
          color="#5ee4cc"
        >
          Confirmer
        </v-btn>

        <md-card class="md-card-profile">
          <md-card-content>
            <h2 class="subtitle">Informations santé</h2>
            <v-container>
              <v-row>
                <v-col cols="16" sm="6">
                  <!-- POIDS -->
                  <div class="food-aliment-title">Poids</div>
                  <div class="value" v-if="isModifyingHealth === false">
                    {{
                      this.computedWeight === null
                        ? "Aucun poids ajouté"
                        : this.computedWeight + " kg"
                    }}
                  </div>
                  <input
                    v-else
                    v-model="weight"
                    type="number"
                    step="0.1"
                    id="weight"
                    class="form-control form-control-lg"
                    style="margin-bottom: 20px"
                  />
                </v-col>

                <v-col cols="16" sm="6">
                  <!-- TAILLE -->
                  <div class="food-aliment-title">Taille</div>
                  <div class="value" v-if="isModifyingHealth === false">
                    {{ this.computedHealthInformationData.height + " cm" }}
                  </div>
                  <input
                    v-else
                    v-model="height"
                    type="number"
                    step="1"
                    id="height"
                    class="form-control form-control-lg"
                    style="margin-bottom: 20px"
                  />
                </v-col>
              </v-row>
            </v-container>

            <v-container>
              <v-row>
                <v-col cols="16" sm="6">
                  <!-- OBJECTIF -->
                  <div class="food-aliment-title">Objectif</div>
                  <div class="value" v-if="isModifyingHealth === false">
                    {{
                      this.computedHealthInformationData.goal === "None"
                        ? "Aucun"
                        : this.computedHealthInformationData.goal
                    }}
                  </div>
                  <select
                    v-else
                    v-model="goal"
                    style="
                      margin-bottom: 20px;
                      border: #ccc solid 1px;
                      padding: 5px;
                    "
                  >
                    <option disabled value="">Choisissez</option>
                    <option>Prise de masse</option>
                    <option>Perte de poids</option>
                    <option>Maintient du poids</option>
                  </select>
                </v-col>

                <v-col cols="16" sm="6">
                  <!-- NIVEAU ACTIVITE -->
                  <div class="food-aliment-title">Niveau d'activité</div>
                  <div class="value" v-if="isModifyingHealth === false">
                    {{
                      this.computedHealthInformationData.activityLevel === "N/A"
                        ? "Aucun"
                        : this.computedHealthInformationData.activityLevel
                    }}
                  </div>
                  <select
                    v-else
                    v-model="activityLevel"
                    style="
                      margin-bottom: 20px;
                      border: #ccc solid 1px;
                      padding: 5px;
                    "
                  >
                    <option disabled value="">Choisissez</option>
                    <option>Sédentaire</option>
                    <option>Faiblement actif</option>
                    <option>Actif</option>
                    <option>Très actif</option>
                  </select>
                </v-col>
              </v-row>
            </v-container>
          </md-card-content>
        </md-card>
        <v-btn
          class="button-general"
          v-on:click="modifyHealth"
          v-if="isModifyingHealth === false"
          color="#5ee4cc"
        >
          Modifier
        </v-btn>

        <v-btn
          class="button-general"
          v-else
          v-on:click="confirmHealthModification"
          color="#5ee4cc"
        >
          Confirmer
        </v-btn>
      </div>
    </div>
  </div>
</template>
<script>
import UserModificationDTO from "@/gen/model/UserModificationDTO";
import ImageDTO from "@/gen/model/ImageDTO";
import HealthInfoModificationDTO from "@/gen/model/HealthInfoModificationDTO";
import WeightCreationDTO from "@/gen/model/WeightCreationDTO";
import UserDTO from "@/gen/model/UserDTO";
import ImageCreationDTO from "@/gen/model/ImageCreationDTO";
import Utils from "@/util/Utils";

export default {
  name: "user-card",
  props: {
    cardUserImage: {
      type: String,
      default: require("@/assets/images/gigi.jpg"),
    },
  },

  mounted() {
    this.$store.dispatch(
      "actionGetUser",
      this.$store.getters.getLogin.data.username
    );
    this.$store.dispatch("actionGetHealthInformation");
    this.$store.dispatch(
      "actionGetUserImage",
      this.$store.getters.getLogin.data.username
    );
  },
  computed: {
    imageComputedURL() {
      return URL.createObjectURL(
        this.dataURLtoBlob(this.$store.getters.getProfile.data.image.image)
      );
    },
    computedHealthInformationData() {
      return this.$store.getters.getHealthInformation.data;
    },
    computedWeight() {
      return this.$store.getters.getHealthInformationCurrentWeight;
    },
    computedProfileData() {
      return this.$store.getters.getProfile.data;
    },
  },
  data() {
    return {
      isModifyingProfile: false,
      isModifyingPassword: false,
      isModifyingHealth: false,

      // User profile these infos are only used while editting the profile
      username: "",
      firstname: "",
      lastname: "",
      birthdate: "",
      email: "",
      password: "",
      sex: "",

      // User health information these infos are only used while editting the profile
      activityLevel: "",
      height: "",
      goal: "",
      currentWeight: 0,
    };
  },
  methods: {
    onFileSelected(event) {
      var selectedFile = event.target.files[0];
      let that = this;
      var reader = new FileReader();
      reader.readAsDataURL(new Blob([selectedFile]));
      reader.onloadend = function () {
        that.$store.dispatch("actionUpdateUserImage", reader.result);
      };
    },
    formatDate(date) {
      return Utils.formatDate(date);
    },
    formatDateForBackend(date) {
      return Utils.formatDateForBackend(date);
    },
    modifyProfile() {
      this.isModifyingProfile = true;

      this.username = this.computedProfileData.username;
      this.firstname = this.computedProfileData.firstname;
      this.lastname = this.computedProfileData.lastname;
      this.birthdate = this.computedProfileData.birthdate;
      this.email = this.computedProfileData.email;
      this.password = "";
      this.sex = this.computedProfileData.sex;
    },
    modifyHealth() {
      this.isModifyingHealth = true;

      this.goal = this.computedHealthInformationData.goal;
      this.activityLevel = this.computedHealthInformationData.activityLevel;
      this.height = this.computedHealthInformationData.height;
      this.weight = this.computedWeight === null ? 0 : this.computedWeight;
    },
    confirmProfileModification() {
      this.isModifyingProfile = false;

      // Create a User DTO to upload
      var dto = new UserModificationDTO();
      dto.idUser = this.computedProfileData.idUser;
      dto.username = this.computedProfileData.username;
      dto.firstname = this.firstname;
      dto.lastname = this.lastname;
      dto.birthdate = this.formatDateForBackend(this.birthdate);
      dto.email = this.email;
      dto.password = this.password;
      dto.sex = this.sex;

      this.$store.dispatch("actionUpdateUser", dto);
    },
    confirmPasswordModification() {
      this.isModifyingPassword = false;
    },
    confirmHealthModification() {
      this.isModifyingHealth = false;

      // Create a HealthInfo DTO to upload
      var healthDTO = new HealthInfoModificationDTO();
      healthDTO.id = this.computedHealthInformationData.id;
      healthDTO.goal = this.goal;
      healthDTO.activityLevel = this.activityLevel;
      healthDTO.height = this.height;
      healthDTO.weight = this.weight; // TODO Add this in the DTO object on the backend

      // Dispatch all methods
      this.$store.dispatch("actionUpdateHealthInfo", healthDTO);
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.profil-title {
  text-transform: uppercase;
  margin: 20px 0px;
}

.right-health-info {
  margin: 0px 0px 0px 300px;
}
.right-general-info {
  margin: 0px 0px 0px 300px;
}

.subtitle {
  color: gray;
  text-align: center;
  font-size: 22px;
  font-family: "Fjalla One";
}

.type {
  font-size: 22px;
  color: #14b89c;
  font-family: "Fjalla One";
  margin: 15px 0px;
}

.userprofil-radio-button {
  margin: 5px 25px 5px 5px;
}

.value {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
  margin-top: 15px;
}

.modify-pic {
  background-color:#5ee4cc; 
  padding: 10px 15px; 
  border-radius:30px; 
  color:white;
  font-family:'Arial';
  box-shadow: 2px 2px #b4b4b4
}

.modify-pic:hover {
  background-color:#63e7cf; 

}
</style>
