@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

body {
  background-color: #ffffff;
  letter-spacing: unset;
  // background: #fdfdfe;
  color: $black-color;
  &.inverse {
    background: #333333;
    &, .form-control {
      color: $mdb-text-color-light;
    }
    .modal,
    .panel-default,
    .card {
      &,
      .form-control {
        background-color: initial;
        color: initial;
      }
    }

  }
}

.wrapper{

    &.wrapper-full-page{
        height: auto;
        min-height: 100vh;
    }
}


blockquote{
    p{
        font-style: italic;
    }
}

.life-of-material-dashboard{
    background: #971111;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: $font-family-sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

.serif-font{
    font-family: $font-family-serif;
}

.page-header {
    height: 60vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

a, a:focus, a:visited{
  color: $link-color;
  text-decoration: none !important;
  font-size: large;
  text-transform: uppercase;
  font-family: 'Fjalla One';

  & .material-icons {
    vertical-align: middle;
  }
}

a[data-toggle="collapse"][aria-expanded="true"] .caret{
    @include rotate-180();
}

/*           Animations              */
.animation-transition-general{
    @include transition($general-transition-time, $transition-linear);
}

.animation-transition-slow{
    @include transition($slow-transition-time, $transition-linear);
}

.animation-transition-fast{
    @include transition($fast-transition-time, $transition-ease);
}
legend {
  border-bottom: 0;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.places-buttons{
  .md-button{
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.md-theme-default :not(input):not(textarea)::selection{
  background-color: #ffcca2 !important;
}
