<template>
  <md-card class="md-card-stats" md-with-hover>
    <md-card-header data-background-color="blue">
      <md-icon>poll</md-icon>
    </md-card-header>

    <md-card-content>
      <p class="home-card-title">Calories par repas</p>
      <h3 class="home-card-subtitle">{{numberLastDays}} derniers jours</h3>
      <div class="chart-container">
        <week-chart
          :chartData="generateChartData"
          :options="generateChartOptions"
        />
      </div>
    </md-card-content>
  </md-card>
</template>

<script>
import WeekChart from "@/components/home/WeekChart";

export default {
  components: { WeekChart },
  mounted() {
    this.$store.dispatch("actionLastWeekMealsGet", this.numberLastDays);
  },
  data() {
    return {
        numberLastDays: 7
    };
  },
  computed: {
    generateChartOptions() {
      return {
        legend: { display: false },
        scales: {
          xAxes: [
            {
              offset: true,
              type: "time",
              time: {
                unit: "day",
                tooltipFormat: "DD.MM.YYYY",
                displayFormats: {
                  day: "DD.MM",
                },
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      };
    },
    generateChartData() {
      return {
        datasets: [
          {
            label: "Kcal",
            backgroundColor: "#ffdb5a",
            data: this.$store.getters.getLastWeekMeals,
            // data: [
            //   { x: "2121-01-19", y: 4 },
            //   { x: "2121-01-20", y: 2 },
            //   { x: "2121-01-21", y: 10 },
            //   { x: "2121-01-22", y: 5 },
            //   { x: "2121-01-23", y: 9 },
            // ],
          },
        ],
      };
    },
  },
  methods: {
    methodTest() {},
  },
};
</script>

<style>
.chart-container {
  width: 200px;
  height: 200px;
}
</style>