<template>
  <md-card>
    <md-card-media-cover md-solid>
      <md-card-media md-ratio="4:3">
        <img src="/assets/images/starry_sky.gif" alt="Skyscraper" />
      </md-card-media>

      <md-card-area>
        <md-card-header>
          <span class="md-title">Solid background</span>
          <span class="md-subhead">4/3 image</span>
        </md-card-header>
      </md-card-area>
    </md-card-media-cover>
  </md-card>
</template>


<script>
export default {
  name: "MealCard",
};
</script>

<style lang="scss" scoped>
.md-card {
    width: 320px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
  }
</style>