<template>
  <v-app id="inspire">
    <v-data-table
      :headers="headers"
      :items="ingredients"
      sort-by="calories"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <!-- DIALOG D'AJOUT D'INGRÉDIENT -->
          <v-dialog v-model="dialog" persistent max-width="600px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="button-general"
                v-on:click="on"
                v-bind="attrs"
                color="#5ee4cc"
              >
                Ajouter ingrédient
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <h1 class="headline">{{ formTitle }}</h1>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.name"
                        label="Nom ingrédient"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.calories"
                        label="Calories"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.fat"
                        label="Lipides (g)"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.carbs"
                        label="Glucides (g)"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.protein"
                        label="Protéines (g)"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <template>
                  <v-btn
                    class="button-general"
                    v-on:click="close"
                    color="#e6535f"
                  >
                    Annuler
                  </v-btn>
                  <v-btn
                    class="button-general"
                    v-on:click="save"
                    color="#5ee4cc"
                  >
                    Valider
                  </v-btn>
                </template>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- DIALOG DE DEMANDE DE SUPPRESSION -->
          <v-dialog v-model="dialogDelete" max-width="600px">
            <v-card>
              <v-card-title class="headline">
                Êtes vous sûr de vouloir supprimer cet ingrédient ?
              </v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                                  <v-btn
                    class="button-general"
                    v-on:click="closeDelete"
                    color="#e6535f"
                  >
                    Annuler
                  </v-btn>
                                    <v-btn
                    class="button-general"
                    v-on:click="deleteItemConfirm"
                    color="#5ee4cc"
                  >
                    Valider
                  </v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <!-- Boutons pour modifier/supprimer ingrédient -->
      <template v-slot:item.actions="{ item }">
        <v-button small class="mr-2" @click="editItem(item)">
          <img src="@/assets/images/adjust.png" />
        </v-button>
        <v-button small @click="deleteItem(item)">
          <img src="@/assets/images/trash.png" />
        </v-button>
      </template>
    </v-data-table>
  </v-app>
</template>



<script>
export default {
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "Ingrédients",
        align: "start",
        sortable: false,
        value: "name",
      },
      { text: "Calories", value: "calories" },
      { text: "Lipides (g)", value: "fat" },
      { text: "Glucides (g)", value: "carbs" },
      { text: "Protéines (g)", value: "protein" },
      { text: "Actions", value: "actions", sortable: false },
    ],
    ingredients: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0,
    },
    defaultItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0,
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Nouvel ingrédient"
        : "Modifier ingrédient";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  mounted() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.ingredients = [
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          iron: "1%",
        },
        {
          name: "Ice cream sandwich",
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          iron: "1%",
        },
        {
          name: "Eclair",
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          iron: "7%",
        },
        {
          name: "Cupcake",
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          iron: "8%",
        },
        {
          name: "Gingerbread",
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          iron: "16%",
        },
        {
          name: "Jelly bean",
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          iron: "0%",
        },
        {
          name: "Lollipop",
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          iron: "2%",
        },
        {
          name: "Honeycomb",
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
          iron: "45%",
        },
        {
          name: "Donut",
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
          iron: "22%",
        },
        {
          name: "KitKat",
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: "6%",
        },
      ];
    },

    editItem(item) {
      this.editedIndex = this.ingredients.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.ingredients.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.ingredients.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.ingredients[this.editedIndex], this.editedItem);
      } else {
        this.ingredients.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>

<style scoped>
button {
  margin: 0px 0px 0px 0px;
}

.button-add {
  box-shadow: 0px 4px 0px 0px #49b9a5;
  background-color: #6ce7d1;
  border-radius: 31px;
  border: 0px solid;
  display: inline-block;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 10px;

  margin-bottom: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #203d1c;
  height: 25px;
  margin-left: 30px;
}

.button-add:hover {
  background-color: #76ecd7;
}

.button-add:active {
  box-shadow: inset 0px 0px 0px 0px #49b9a5;
  outline: none;
  margin: 4px 0px 0px 30px;
}

.button-delete {
  box-shadow: 0px 4px 0px 0px #e03a34;
  background-color: #ee625d;
  border-radius: 31px;
  border: 0px solid;
  display: inline-block;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 10px;
  margin-bottom: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d1c1c;
  height: 25px;
  margin-left: 30px;
}

.button-delete:hover {
  background-color: #f36b67;
}

.button-delete:active {
  box-shadow: inset 0px 0px 0px 0px #dd5954;
  outline: none;
  margin: 4px 0px 0px 30px;
}
</style>