<template>
  <div>
    <div>
      <md-button class="md-fab bottom-right">
        <md-icon>add</md-icon>
      </md-button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.menu {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #5ee4cc;
  border: 0em;
    box-shadow: 5px 5px 7px #a3a3a3;
}

md-icon {
  color: #FFF !important;
}

md-button {
    background-color: #5ee4cc !important;
}
</style>

<script>
export default {
  name: "FloatingButtons",
};
</script>

