<template>
  <v-card>
    <v-card-title>
      <span class="headline"><h1 class="headline">Ajouter un repas</h1></span>
    </v-card-title>
    <v-card-text>
      <v-container>
        <v-row>
          <v-col cols="12" sm="6" md="6">
            <v-text-field label="Nom du repas" v-model="mealName" required />
          </v-col>
          <v-col cols="12" sm="6" md="6">
            <v-dialog
              ref="dialog"
              v-model="isMealModalVisible"
              persistent
              width="290px"
            >
              <template v-slot:activator="{ on, mealInformations }">
                <v-text-field
                  v-model="time"
                  label="Heure du repas"
                  prepend-icon="mdi-clock-time-four-outline"
                  readonly
                  v-bind="mealInformations"
                  v-on="on"
                >
                </v-text-field>
              </template>
              <v-time-picker
                v-if="isMealModalVisible"
                v-model="time"
                format="24hr"
              >
                <v-spacer></v-spacer>
                <v-btn
                  class="button-general"
                  v-on:click="isMealModalVisible = false"
                  color="#e6535f"
                >
                  Annuler
                </v-btn>
                <v-btn
                  class="button-general"
                  v-on:click="$refs.dialog.save()"
                  color="#5ee4cc"
                >
                  Ok
                </v-btn>
              </v-time-picker>
            </v-dialog>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        class="button-general"
        v-on:click="isMealCreationDialogVisible = false"
        color="#e6535f"
      >
        Annuler
      </v-btn>
      <v-btn class="button-general" v-on:click="addMeal" color="#5ee4cc">
        Valider
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import "@/assets/css/main.css";
export default {
  name: "ModalFoodCreation",
  data: () => ({
    active: false,
    MealName: 0,
    MealDate: null,
  }),
};
</script>
</script>