<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div
        class="modal"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header class="modal-header" id="modalTitle">
          <slot name="header">
            <span>
              <button
                type="button"
                align="right"
                class="btn-close"
                @click="close"
                aria-label="Close modal"
              >
                x
              </button>
            </span>
          </slot>
        </header>
        <section class="modal-body" id="modalDescription">
          <slot name="body">
            <h3 align="center">Modifier catégorie</h3>
            <form
              id="addCategory-form"
              @submit.prevent="processingCategoryForm"
              method="post"
            >
              <div class="field">
                <label class="label">Nouveau nom</label><br />
                <input
                  type="text"
                  class="input"
                  :maxlength="maxCharactere"
                  name="categoryName"
                  v-model="categoryName"
                />
                <div
                  class="input-group-addon"
                  v-text="maxCharactere - categoryName.length +
                    ' caractère(s) restant(s)'" />
              </div>
              <br />
              <section class="modal-footer" id="modalDescription">
                <v-btn class="button-general"
                  value="submit"
                  :disabled="isButtonDisable(categoryName)"
                  v-on:click="validate"
                  color="#5ee4cc">Modifier</v-btn>
              </section>
            </form>
          </slot>
        </section>
        <footer class="modal-footer">
          <slot name="footer"> </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    oldName: String,
    id: Number
  },
  data: function () {
    return {
      categoryName: this.oldName,
      maxCharactere: 35,
    };
  },
  methods: {
    validate() {
      let param = {
        newName: this.categoryName,
        oldName: this.oldName,
        id: this.id,
      };
      this.$emit("renameCategory", param);
      this.categoryName = "";
      this.$emit("close");
    },
    close() {
      this.categoryName = "";
      this.$emit("close");
    },
    isButtonDisable() {
      return !(this.categoryName.length > 0);
    },
  },
};
</script>

<style scoped>

.modal-backdrop {
  position: fixed;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #ffffff;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  width: 25%;
  height: 25%;
  min-width: 500px;
}

.input {
  min-width: 250px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  }

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #4aae9b;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: relative;
  padding: 20px 10px;
}

.btn-close {
  border: none;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
  display: flex;
  justify-content: flex-end;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}
span {
  width: 30px;
  float: right;
  cursor: pointer;
}
</style>

<!-- source : https://codepen.io/CSWApps/pen/RQbvvp -->