<template>
  <div>
    <nav class="navbar-stripe">
      <div class="container">
        <router-link class="navbar-brand" to="/"> Nutricare </router-link>
        <ul class="nav navbar-nav flex-row float-right">
          <li v-if="this.isLoggedIn" class="nav-item">
            <router-link class="nav-link pr-3" to="/home">Accueil</router-link>
          </li>
          <!--
          <li v-if="this.isLoggedIn" class="nav-item">
            <router-link class="nav-link pr-3" to="/categories">Recettes</router-link>
          </li> -->
          <li v-if="this.isLoggedIn" class="nav-item">
            <router-link
              data-ruid="journalNavBar"
              class="nav-link pr-3"
              to="/journal"
              >Journal</router-link
            >
          </li>

          <li v-if="this.isLoggedIn" class="nav-item">
            <router-link data-ruid="foodNavBar" class="nav-link pr-3" to="/food"
              >Garde-manger</router-link
            >
          </li>

          <li v-if="this.isLoggedIn" class="nav-item">
            <router-link class="nav-link pr-3" to="/messages"
              >Messages</router-link
            >
          </li>

          <li v-if="this.isNotLoggedIn" class="nav-item">
            <router-link class="nav-link pr-3" to="/login"
              >Connexion</router-link
            >
          </li>

          <li v-if="this.isNotLoggedIn" class="nav-item">
            <router-link class="nav-link pr-3" to="/register"
              >Inscription</router-link
            >
          </li>

          <li v-if="this.isLoggedIn" class="nav-item">
            <router-link class="nav-link pr-3" to="/profile"
              >Profil</router-link
            >
          </li>

          <li class="nav-item">
            <router-link class="nav-link pr-3" to="/tutorial"
              >Tutoriels</router-link
            >
          </li>

          <li class="nav-item">
            <router-link class="nav-link pr-3" to="/aboutus"
              >à propos</router-link
            >
          </li>

          <li @click="methodLogout" v-if="this.isLoggedIn" class="nav-item">
            <router-link class="nav-link pr-3" to="/login"
              >Déconnexion</router-link
            >
          </li>
        </ul>
      </div>
    </nav>

    <!--
    <fab
      v-if="this.isLoggedIn"
      :position="position"
      :bg-color="bgColor"
      :actions="fabActions"
      @home="goHome"
      @journal="goToJournal"
      @food="addFood"
    ></fab>
    -->
  </div>
</template>

<script>
import fab from "vue-fab";
export default {
  components: { fab },
  name: "Navbar",
  data: () => ({
    menuVisible: false,
    bgColor: "#5ee4cc",
    position: "bottom-left",
    fabActions: [
      {
        name: "home",
        icon: "home",
      },
      {
        name: "journal",
        icon: "event_note",
      },
      {
        name: "food",
        icon: "fastfood",
      },
    ],
  }),
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
    isAdmin() {
      return this.$store.getters.isAdmin;
    },
    isNotLoggedIn() {
      return !this.$store.getters.isLoggedIn;
    },
    isFoodModalVisible() {
      return this.$store.getters.getFoodModal.modalIsVisible;
    },
  },
  methods: {
    methodLogout() {
      this.$store.dispatch("actionLogout");
    },
    goHome() {
      this.$router.push("/home");
    },
    goToJournal() {
      this.$router.push("/journal");
    },
    addFood() {
      //alert('Clicked on alert icon');
      this.$store.dispatch("actionFoodShowModal");
    },
    methodResetEditFood() {
      // console.log("Reset edit food.");
      this.editFood = null;
    },
  },
};
</script>
