<template>
  <div id="navigation-mobile">
    <router-link class="navbar-brand" style="padding-bottom: 30px" to="/">
      Nutricare
    </router-link>
    <ul>
      <li v-if="this.isLoggedIn">
        <router-link to="/home">Accueil</router-link>
      </li>
      <!--
      <li v-if="this.isLoggedIn">
        <router-link to="/categories">Recettes</router-link>
      </li>-->

      <li v-if="this.isLoggedIn">
        <router-link data-ruid="journalNavBar" to="/journal"
          >Journal</router-link
        >
      </li>

      <li v-if="this.isLoggedIn">
        <router-link data-ruid="foodNavBar" to="/food">Garde-manger</router-link>
      </li>

      <li v-if="this.isLoggedIn">
        <router-link to="/messages">Messages</router-link>
      </li>

      <li v-if="this.isNotLoggedIn">
        <router-link to="/login">Connexion</router-link>
      </li>

      <li v-if="this.isNotLoggedIn">
        <router-link to="/register">Inscription</router-link>
      </li>

      <li v-if="this.isLoggedIn">
        <router-link to="/profile">Profil</router-link>
      </li>

      <li v-if="this.isAdmin">
        <router-link to="/administration">Administration</router-link>
      </li>

      <li>
        <router-link to="/tutorial">Tutoriels</router-link>
      </li>

      <li>
        <router-link to="/aboutus">à propos</router-link>
      </li>

      <li @click="methodLogout" v-if="this.isLoggedIn">
        <router-link to="/login">Déconnexion</router-link>
      </li>
    </ul>

    <!--
    <fab
      v-if="this.isLoggedIn"
      :position="position"
      :bg-color="bgColor"
      :actions="fabActions"
      @home="goHome"
      @journal="goToJournal"
      @food="addFood"
    ></fab> -->
  </div>
</template>

<script>
import fab from "vue-fab";
export default {
  components: { fab },
  name: "NavbarMobile",
  data: () => ({
    menuVisible: false,
    bgColor: "#5ee4cc",
    position: "bottom-left",
    fabActions: [
      {
        name: "home",
        icon: "home",
      },
      {
        name: "journal",
        icon: "event_note",
      },
      {
        name: "food",
        icon: "fastfood",
      },
    ],
  }),
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
    isAdmin() {
      return this.$store.getters.isAdmin;
    },
    isNotLoggedIn() {
      return !this.$store.getters.isLoggedIn;
    },
    isFoodModalVisible() {
      return this.$store.getters.getFoodModal.modalIsVisible;
    },
  },
  methods: {
    methodLogout() {
      this.$store.dispatch("actionLogout");
    },
    goHome() {
      this.$router.push("/home");
    },
    goToJournal() {
      this.$router.push("/journal");
    },
    addFood() {
      //alert('Clicked on alert icon');
      this.$store.dispatch("actionFoodShowModal");
    },
    methodResetEditFood() {
      // console.log("Reset edit food.");
      this.editFood = null;
    },
  },
};
</script>
<style>
#navigation-mobile {
  padding: 20px 0 20px 20px;
  background-color: #5ee4cc;
  height: 100%;
  width: 200px;
}

#navigation-mobile ul {
  width: 200px;
  list-style: none;
  padding-left: 40;
}

#navigation-mobile li {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

#navigation-mobile li:hover {
  color: #111;
}
</style>
