<template>
  <v-card class="main-card">
    <div class="vertical">
      <div class="content">
        <div class="messagerie-alignment-title">
          <div class="title">MA MESSAGERIE</div>
        </div>
        <div class="messagerie">
          <div class="navbar">
            <v-tabs class="message-navigation">
              <v-tab @click="printMessagesTo">Reçu(s)</v-tab>
              <v-tab @click="printMessagesFrom">Envoyé(s)</v-tab>
              <v-tab @click="writeMessage">Nouveau message</v-tab>
            </v-tabs>
          </div>
          <div v-if="sendingMessage === false" class="messages-content">
            <v-card
              class="message-card"
              v-for="message in listedMessages"
              :key="message.id"
            >
              <v-card-title>
                <div class="message-footer">
                  <div id="from" class="message-param">
                    <span class="from-to">From </span>
                    {{ message.sender.username }}
                  </div>
                  <div id="to" class="message-param">
                    <span class="from-to">To </span
                    >{{ message.receptor.username }}
                  </div>
                </div>
              </v-card-title>
              <v-card-text>
                <div class="card-title">{{ message.title }}</div>
                <div class="message-content">{{ message.text }}</div>
              </v-card-text>
            </v-card>
          </div>
          <div v-if="sendingMessage" class="messages-content">
            <div>
              <v-text-field
                v-model="friendUsername"
                :rules="[(v) => !!v || 'Item is required']"
                label="Envoyer à"
                required
              ></v-text-field>

              <v-text-field
                v-model="title"
                :counter="20"
                label="Titre"
                required
              ></v-text-field>

              <v-text-field
                v-model="text"
                :counter="400"
                label="Texte"
                required
              ></v-text-field>
              <div align="center">
                <v-btn
                  class="button-general"
                  data-ruid="addWaterButton"
                  v-on:click="sendMessage"
                  color="#5ee4cc"
                >
                  Envoyer
                </v-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </v-card>
</template>

<script>
import MessageCreationDTO from "@/gen/model/MessageCreationDTO";
import UserDTO from "@/gen/api/UserApi";

export default {
  data() {
    return {
      friends: [],
      sendingMessage: false,
      title: "",
      text: "",
      friendUsername: "",
    };
  },
  mounted() {
    this.$store.dispatch(
      "actionGetMessagingTo",
      this.$store.getters.getLogin.data.username
    );
    this.$store.dispatch(
      "actionGetFriends",
      this.$store.getters.getLogin.data.username
    );
  },
  computed: {
    listedMessages() {
      return this.$store.getters.getMessages;
    },
  },

  methods: {
    printMessagesTo() {
      this.sendingMessage = false;
      this.$store.dispatch(
        "actionGetMessagingTo",
        this.$store.getters.getLogin.data.username
      );
    },
    printMessagesFrom() {
      this.sendingMessage = false;
      this.$store.dispatch(
        "actionGetMessagingFrom",
        this.$store.getters.getLogin.data.username
      );
    },
    writeMessage() {
      this.sendingMessage = true;
    },
    sendMessage() {
      var messageCreationDTO = new MessageCreationDTO();
      messageCreationDTO.text = this.text;
      messageCreationDTO.title = this.title;
      var obj = {
        messageCreationDTO: messageCreationDTO,
        friendUsername: this.friendUsername,
      };
      this.$store.dispatch("actionSendMessage", obj);
    },
  },
};
</script>

<style lang="scss" scoped>
.messagerie-alignment-title {
  text-align: center;
}

.card-title {
  color: #41a794;
  font-family: "Fjalla One";
  font-size: 22px;
  padding: 10px 0px;
}

.navbar {
  margin-top: 10px;
  color: #41a794;
  font-family: "Fjalla One";
}

.message-card {
  margin: 20px;
  background-color: #c8f1eb;
}

.message-content {
  margin-bottom: 20px;
  padding: 20px 20px;
  background-color: #eefffc;
  border-radius: 10px;
  font-size: 12pt;
}

.message-footer {
  display: flex;
  flex-direction: row;
}

.message-param {
  margin-right: 15px;
  text-transform: capitalize;
}

.from-to {
  color: #41a794;
  font-family: "Fjalla One";
  font-size: 16px;
}
</style>
