<template>
  <div>
    <NavbarMobile class="nav-app" />
    <!-- Navigation bar-->
    <div class="content" :class="{ open: showNav }">
      <Navbar v-if="!mobileView" />
      <div id="navigation-icon" 
        v-if="mobileView" 
        @click="showNav = !showNav"
      >
        <span class="material-icons"> menu </span>
      </div>
      <!-- Main -->
        <router-view />
    </div>
    <!-- Notifications -->
    <notifications position="bottom right" />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import NavbarMobile from "@/components/NavbarMobile.vue";

export default {
  components: { Navbar, NavbarMobile },
  name: "App",

  data() {
    return {
      mobileView: false,
      showNav: false,
    };
  },
  methods: {
    handleView() {
      this.mobileView = window.innerWidth <= 1215;
      if (window.innerWidth > 1215) {
        this.showNav = false;
      }
    },
  },
  created() {
    this.handleView();
    window.addEventListener("resize", this.handleView);
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Medula+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");

#navigation-icon {
  padding: 10px 10px 20px;
  padding-left: 20px;
  cursor: pointer;
  color: white;
  background-color: #5ee4cc;
}

#navigation-icon i {
  font-size: 2rem;
}

.nav-app {
  position: fixed;
  width: 100%;
}

.content {
  position: absolute;
  overflow: auto;
  width: calc(100%);
  height: calc(100%);
  background-color: #fff;
  transition: 0.5s transform cubic-bezier(0, 0.12, 0.14, 1);
}

.open {
  transform: translateX(200px);
}

</style>
